[2015-03-05 22:21] mikevanwinkle opened #3 "Queries should use wpdb->prepare() to sanitize user input where possible"
see solr-for-wordpress-on-pantheon.php#L446

[2015-03-05 22:23] mikevanwinkle opened #4 "Plugin description should explain that this is a fork"
In the plugin header we see references to matt weber but it isn't clear what the relationship is. We should clarify that this is a fork.

[2015-03-24 16:40] calevans commented on #3
I agree that in many cases, the prepare statement is a good idea. However, on this particular code blog, the only options you would be sanitizing are the prefix and the blog id. Both of them are coming straight out of the db.

=C=

[2015-07-13 22:13] joshkoenig opened #12 "Include a widget out of the box"
We should include a widget so it's easy for people to try this out on an existing site.

[2015-07-14 22:59] joshkoenig commented on #4
Resolved:

https://github.com/pantheon-systems/solr-for-wordpress-on-pantheon/pull/13

[2015-07-14 22:59] #4 closed

[2015-07-14 23:02] joshkoenig opened #14 "Update Solarium to 3.5.1"
We should get up to 3.3.0. However this is not a priority for the first (alpha) release.

[2015-07-14 23:10] joshkoenig opened #15 "Script to go from GitHub repo to WordPress SVN"
We need a script for converting this github project to publish via SVN to wp.org/plugins. There are a few already out there, eg:

http://scribu.net/blog/deploying-from-git-to-svn.html

https://danielbachhuber.com/2012/09/30/git-in-my-subversion/

And some tools that could help:

https://github.com/benbalter/WP-Readme-to-Github-Markdown

It would be great to make something that we can share w/other

[2015-08-04 01:14] joshkoenig opened #17 "Alternate WP_Query() interface for powering complex queries"
I am a big fan of what the boys at Alley Interactive did here:

https://github.com/alleyinteractive/es-wp-query

Making the Solr backed available for complex queries would be an excellent way to support scalability and speed for sites with a lot of content.

[2015-08-12 16:52] joshkoenig opened #19 "Rename Project: "solr-power""
**facepalm** - http://martinfowler.com/bliki/TwoHardThings.html

In preparation for release, I shortened the name of this project, which created a conflict with an existing plugin upstream, as well as creating issues with the admin UI. Mea culpa.

**Alternate Names**

* Apache Solr for WordPress / `apachesolr-for-wordpress`
* SolrPress / `solrpress`

Feel free to add your own in the comments.

[2015-08-12 17:54] joshkoenig opened #21 "Settings page gives access denied"
The settings page routing is broken. Probably caused by #19.

[2015-08-12 17:54] joshkoenig commented on #21
Fixes for this are in: https://github.com/pantheon-systems/solr-for-wordpress/pull/20

However, the fundamental naming issue remains.

[2015-08-12 17:54] joshkoenig commented on #21
The settings page is back in action, but we'll need to look further into resolving the naming conflict.

[2015-08-12 17:54] #21 closed

[2015-08-12 17:55] joshkoenig commented on #19
The settings page should be back to loading, but this will require more work to completely disentangle.

[2015-08-12 18:39] joshkoenig opened #22 "Options not saving properly"
The options page is not saving preferences. Checkboxes are going un-saved, and key text fields are being filled-in by `Array`. This is the result after _un-checking_ "index pages" and then clicking "Save Changes":

![screen shot 2015-08-12 at 11 37 35 am](https://cloud.githubusercontent.com/assets/143186/9233222/b6c6223e-40e6-11e5-8d79-8fea5886c604.png)

Not "index pages" is still checked, and the

[2015-08-12 18:40] #3 closed

[2015-08-13 23:28] joshkoenig opened #23 "Use slug instead of __FILE__"
Per @allan23 we're best off using a consistent slug on these lines:

https://github.com/pantheon-systems/solr-for-wordpress/blob/master/solr-for-wordpress-on-pantheon.php#L1293

https://github.com/pantheon-systems/solr-for-wordpress/blob/master/solr-for-wordpress-on-pantheon.php#L1580

https://github.com/pantheon-systems/solr-for-wordpress/blob/master/solr-options-page.php#L205

We should make the

[2015-08-19 16:37] rexington commented on #22
Don't know if this helps, but I get
`You do not have sufficient permissions to access this page.`
when I try to save options.

[2015-08-19 18:19] joshkoenig opened #24 "Use Tikka for attachment indexing"
We should extend `s4wp_build_document()` to include indexable attachments from the Media Library so that Tikka can do it's thing and make that part of the equation.

https://github.com/pantheon-systems/solr-for-wordpress/blob/master/solr-for-wordpress-on-pantheon.php#L245

[2015-08-19 18:39] joshkoenig opened #25 "Add documentation link when telling people to enable Solr on Pantheon"
Currently we rightly block the activation of the plugin on a Pantheon site where Solr isn't enabled. That's nice.

We should add a link to documentation for this though.

[2015-08-19 18:46] joshkoenig opened #26 "Split admin interfaces"
Currently the single admin page has severak sections:

1. Solr server status and configuration
2. Index options
3. Result options
4. Actions
5. Debug (solr query)

We should separate these out into their own tabs and forms, so they can be documented and utilized separately, and it will be easier for customers to set up solr.

[2015-08-19 18:51] joshkoenig opened #27 "Include search results out of the box"
To go along with #12 (a search widget), we need to include out-of-the-box search results.

The initial vanilla results should be equivalent to WP core search results except the default sort should be by relevance rather than date, and of course they would be fetched from the Solr index.

This will prevent developers from needing to do a theme-override to experience the power of search results.

[2015-08-29 22:26] havahula commented on #23
it looks like 'pantheon-solr' is hard-coded for the form action on solr-options-page.php but not in the function add_options_page on the main file. This causes a permissions error which is quickly fixable.

[2015-08-31 12:28] ttrowell opened #28 "Parse Error in Curl.php"
[31-Aug-2015 12:22:21 UTC] PHP Parse error:  syntax error, unexpected '[' in /srv/bindings/89d174f37673485283ee1f869b9d854d/code/wp-content/plugins/solr-for-wordpress/vendor/solarium/solarium/library/Solarium/Core/Client/Adapter/Curl.php on line 156

[code]

This site is using PHP 5.3

Case:
#44014
@joshkoenig @erik-pantheon

[2015-09-02 23:48] erik-pantheon commented on #28
Let me see if I can reproduce this and troubleshoot it, @ttrowell.

[2015-10-14 19:46] michaelwdc opened #29 "Attempt to check server status or any other action: "You do not have sufficient permissions to access this page.""
I downloaded the master, added it to a WP site on Pantheon.  Trimmed off the "-master" bit from the folder (named "solr-for-wordpress"), ensured that the SOLR addon was enabled, and then activated the plugin.  Can access the settings and save changes, but cannot execute any of the actions ("Check Server Status", "Optimize Index", etc.).

[2015-10-19 14:59] allan23 commented on #19
@joshkoenig Have you decided on a name yet?

[2015-10-19 16:14] joshkoenig commented on #19
@allan23 thanks for the ping. I think we should go for something a little more on the fun side of things and brand this. After some discussion, I think the namespace to snag is (drumroll....)

**solr-power**

This speaks to our aspiration to be more than just a post search replacement (though obviously that's job 1). I can rename this repo whenever you are ready, but I don't want to be disruptive.

[2015-10-19 18:07] joshkoenig commented on #15
More prior art to take into account (thx to @afragen for these!)

https://github.com/dd32/Github-to-WordPress-Plugins-Sync

https://github.com/GaryJones/wordpress-plugin-git-flow-svn-deploy

[2015-10-28 18:20] joshkoenig commented on #19
@allan23 to close this one out, do we need to rename any of the php files internally? E.g. `solr-for-wordpress-on-pantheon.php` doesn't seem to quite fit.

[2015-10-28 18:20] joshkoenig commented on #22
Yep fixed. Thanks!

[2015-10-28 18:20] #22 closed

[2015-10-28 18:21] joshkoenig commented on #26
This is good for now. I'll come up with some slight improvements to the content for the status/config area, as well as the debug area, but this is a great start.

[2015-10-28 18:21] #26 closed

[2015-10-28 18:40] allan23 commented on #19
@joshkoenig You're right. It should be renamed to `solr-power.php`.

[2015-11-03 18:03] danielbachhuber commented on #15
For a long time now, I've wanted an automated way to deploy to WordPress.org SVN from Github. `master` branch would automatically sync with trunk, and tagged releases would magically appear as SVN tags. And yet, I still do it manually through the approach documented in my blog post.

As a plugin maintainer, my chief responsibility is to ensure every release is as bug-free as I can make it. Because

[2015-11-03 19:19] #19 closed

[2015-11-03 19:27] joshkoenig commented on #15
I don't disagree that testing and review should be a part of the release process. What I'm looking for is a standard process for doing this so that it's done consistently, and that the repeatable parts of it can be automated.

The goal for me for such a script would be to get master over to trunk, maybe automated. I'd still assume that release tags would be cut by a person, although IMHO that pers

[2015-11-03 20:01] danielbachhuber commented on #15
Fair enough. I suppose the interface could be `bash bin/release-wp-org.sh <plugin-slug> [tag]`. It could also do a bit of a pre-flight routine — php lint, verify the stable version has been updated, etc.

[2015-11-20 19:41] allan23 commented on #29
@joshkoenig Can this issue be closed?

[2015-11-20 19:41] allan23 commented on #23
@joshkoenig Can this issue be closed?

[2015-11-20 22:23] joshkoenig commented on #27
This is now handled via `WP_Query()` override!

[2015-11-20 22:23] #27 closed

[2015-11-20 22:23] joshkoenig commented on #12
Not really valid now that we have `WP_Query()` overrides working.

[2015-11-20 22:23] #12 closed

[2015-11-20 22:24] joshkoenig commented on #29
Yep. This was an issue with the slug name I think. Should be all good now.

[2015-11-20 22:24] #29 closed

[2015-11-20 22:26] joshkoenig opened #33 "Configurability for search order?"
Right now the defauly search query will still return posts sorted by created order. I think the default should be to sort them by their relevance (score). It would make for a pretty nifty demo:

- **Before**: Here are your Vanilla search results in date posted. (sad trombone)
- **After**: Behold! Solr Powered search results, which pulled an older post to the top because it's clearly more relevant.

[2015-11-20 22:35] joshkoenig opened #34 "Unit and system tests"
We need to get some unit tests and system tests in place for this project to be able to move fast going forward.

Starting this issue to collect/prioritize test criteria.

[2015-11-20 22:46] joshkoenig commented on #33
This is pretty easy to do by hard-coding in `posts_request`. However, I'm not sure this is the most sustainable and "correct" way to proceed.

I'm going to make the change now in the name of getting an initial beta release up and running. However, I would like to explore our options for providing a more robust developer interface (and ultimately user interface) for the search experience.

[2015-11-21 00:27] joshkoenig commented on #23
Indeed!

[2015-11-21 00:27] #23 closed

[2015-11-24 18:08] joshkoenig opened #37 "Implement basic faceting widget"
One of the best features of a Solr backend is the ability to easily "facet" the search query. We should make it easy for users to discover this power. Using the built-in categories to power a basic "Faceted Search" widget would go a long way towards this.

Other primitive facets to consider:

- Post type
- Author
- Date (month?)

[2015-11-24 19:57] danielbachhuber commented on #37
Maybe a widget and an easy function to call to render the equivalent HTML.

[2015-11-25 21:57] allan23 commented on #33
Could implement a filter with the default being score. After that, there could be a setting on the options page to set the default.

[2015-12-01 23:18] allan23 commented on #28
Sounds like a PHP 5.3.

[2015-12-03 21:35] #25 closed

[2015-12-05 16:05] joshkoenig opened #39 "Handle un-posted schema.xml file"
This is a Pantheon specific thing, but I want to handle it better for a good first time experience.

When the plugin is first enabled, the developer needs to post the `schema.xml` file before search can actually work. Otherwise it will 404, leading to an unhandled exception from Solarium.

I think we should make posting the default `schema.xml` a part of enabling the plugin.

We also need to figur

[2015-12-08 23:08] joshkoenig commented on #37
Another thing to consider - should we have a goal of "playing nicely" with facet-based data plugins like [FacetWP](http://facetwp.com)?

[2015-12-15 21:11] #34 closed

[2015-12-15 21:14] joshkoenig opened #40 "Improved status on Admin screen"
We should provide an improved status page as part of the first screen of admin UI.

- It should do a ping and report the status (which will surface if something is wrong right away)
- We can also show the current count of indexed posts, comments, pages, etc.

[2015-12-29 22:49] allan23 opened #41 "Multisite Indexing"
How should indexing be handled in a multisite environment?
Should each site have their own admin page or just one main page for the network admin?

CC: @joshkoenig

[2016-01-04 17:30] joshkoenig commented on #41
This is a good question.

I do not believe that having different configuration or operations (e.g. what post types to index, index reset, etc) for individual sites in a network is a good idea. Solr doesn't have this notion built into itself, and so we shouldn't present a false set of options. There's still only once `schema.xml` for all the content, no good way to get stats for a particular site.

[2016-01-11 15:51] allan23 opened #43 "Indexing only Indexes 10 items"
There is a bug to where only 10 items(posts/pages/etc) get indexed.

[2016-01-15 05:11] akhillgopinath opened #46 "woocommerce product indexing"
is there any way we can index only products ?

[2016-01-15 22:53] #43 closed

[2016-01-15 22:53] #33 closed

[2016-01-25 13:37] akhillgopinath commented on #37
Hi
Is there any way we can show the facets  in search result page ?

[2016-01-25 19:48] akhillgopinath opened #47 "syntax error"
wp-content/plugins/solr-power/vendor/solarium/solarium/library/Solarium/Core/Client/Adapter/Curl.php:156

and i am not able to index products in live environment

[2016-01-27 18:19] bmackinney opened #48 "Example query"
- [ ] `examples/example.custom_field_query.php`
- [ ] edit `readme.txt`

[2016-02-04 18:24] allan23 opened #49 "Debug Bar Extension"
Create an extension for the Debug Bar plugin to debug Solr queries.

[2016-02-04 20:26] rachelwhitton opened #50 "Automatic Index on Activation"
Upon activation of the plugin all public posts, pages, and attachments should be indexed automatically.

[2016-02-04 20:28] rachelwhitton opened #51 "Custom Fields Bug"
Index is attempted on custom fields but they are not included within results

[2016-02-04 20:33] rachelwhitton opened #52 "Drop Down Custom Fields - Feature Request"
Feature Request

Create a drop down within **Indexing Options** that allows the user to index existing public custom fields

[2016-02-04 20:36] rachelwhitton opened #53 "Drop Down Custom Post Types - Feature Request"
Feature Request

Create a drop down within **Indexing Options** for indexing custom post types containing public content

[2016-02-04 20:50] rachelwhitton opened #54 "Send schema.xml automatically when deployed"
schema.xml should be sent to Solr automatically when the plugin is deployed to another environment (Multidev to Dev and up to Live)

[2016-02-04 21:26] bmackinney commented on #53
In our conversation today, @allan23 suggested automatically indexing all post types that are publicly searchable by WordPress. That way if a user wants to exclude them, they can use `include exclude_from_search => true` when registering the post type with WordPress, and the search will function equivalently to MySQL WordPress search.

@allan23 do you think this issue should change to "Add all publ

[2016-02-04 21:45] joshkoenig commented on #54
Yeah, this will improve the customer experience quite a lot.

[2016-02-11 17:31] joshkoenig opened #58 "WP-CLI Integration"
When you've got a lot of context to index, doing it via the web UI is _le suck_.

Better would be this:

[code]

I think this plus a few other things could be enough for a 0.3 release!

[2016-02-11 17:34] ericmann commented on #58
+100

[2016-02-11 17:35] danielbachhuber commented on #58
Happy to review this implementation. Also, you could set up integration tests for the WP-CLI commands using https://github.com/wp-cli/wp-cli/wiki/Package-Functional-Tests

[2016-02-11 19:12] rachelwhitton commented on #58
+1
@allan23 I'm happy to assist with automating the integration tests on this one if needed

[2016-02-17 21:00] joshkoenig opened #59 "We shouldn't block on AJAX/Admin use-cases"
Right now we bail if the request is in the admin area of is being done via AJAX. However, if we want to support use-cases like autocomplete or general purpose WP_Query() overriding, we probably can't continue to do that:

https://github.com/pantheon-systems/solr-power/blame/master/includes/class-solrpower-wp-query.php#L29

[2016-02-17 21:03] joshkoenig commented on #59
/cc @ericmann @allan23 @bmackinney

[2016-02-17 21:08] bmackinney commented on #59
@rachelwhitton

[2016-03-02 23:44] mjlodge commented on #53
+1 on having all custom post types that are publicly searchable automatically indexed. That'd be easiest for us.

[2016-03-25 20:28] erik-pantheon opened #63 "Enable full query interface"
Currently, the interface for the WP Solr plugin only allows searches for string values. While this is useful for the layman, most developers who are using Solr require the ability to test more complicated queries. The Pantheon's Drupal Solr Module does this well. One can run something like:

/select?fl=label,bundle,ts_ol_full_text&fq=bundle:bill%20AND%20ts_ol_full_text:property&wt=json

...and ret

[2016-03-25 21:46] rachelwhitton opened #64 "pager bug"
Page-links for paginated posts produce 404s

Disabling the **Output Result Pager** option does not seem to remove page-links as assumed (not sure that's the intent behind the option though?)

![screen shot 2016-03-25 at 4 15 06 pm](https://cloud.githubusercontent.com/assets/10119525/14054608/81b397c4-f2a8-11e5-8e90-dd68be62d763.png)
<hr>
![screen shot 2016-03-25 at 3 59 58 pm](https://cloud.github

[2016-03-30 17:35] #48 closed

[2016-03-30 17:36] #49 closed

[2016-03-30 17:39] #53 closed

[2016-03-30 17:43] #59 closed

[2016-04-06 16:20] #58 closed

[2016-04-15 17:13] joshkoenig commented on #50
This is a subset of the issue on #54 Let's track it there.

[2016-04-15 17:13] #50 closed

[2016-04-15 17:14] joshkoenig commented on #54
What we need is to make a decision on how the plugin can know — based on API response — that the schema needs to be sent. Then it can do it. It's on Josh to figure out that response signature.

[2016-04-15 17:17] joshkoenig opened #66 "Test and document that we're all good w/WordPress 4.5"
I think we can jump from 4.3 to 4.5 in the README.

In the future this could be part of the automated test/release process. :)

[2016-04-15 19:52] joshkoenig commented on #15
This one seems like it's actively maintained:

https://github.com/mikejolley/github-to-wordpress-deploy-script

[2016-04-19 22:45] allan23 commented on #15
@joshkoenig This works pretty well. I tried it on one of my personal plugins.
The only thing it lacks is the ability to remove dev-only files (unit tests, etc.).

But it wouldn't be too difficult to add ignore to the script. Something like:
[code]

Due to the auth key requirement, it isn't something we can add to the repo.

[2016-04-19 22:48] allan23 commented on #15
Just had thought: we might be able to use this in Travis CI.  Might need some extensive testing for automation, but an idea.

[2016-04-19 23:05] joshkoenig commented on #15
Having CI auto release to wordpress.org when we make a release here would be an ultimate end-goal.

What I want for this release is a consistent release process. I don't believe that exists without a script. ;)

[2016-04-20 15:52] allan23 commented on #15
Probably will need to rework the workflow. We ideally don't want every merged PR to be committed to WP.org.

We could setup a 'develop' branch and then when ready for release, merge that into 'master'. From there, maybe we can get the CI to run the script. I know we can set environmental variables in Travis.

[2016-04-20 17:09] joshkoenig commented on #64
Possibly addressed in #67. Going to work on replicating now.

[2016-04-21 21:51] #40 closed

[2016-04-21 21:52] joshkoenig commented on #64
Should be fixed after #67

[2016-04-21 21:52] #64 closed

[2016-04-21 21:54] joshkoenig commented on #66
@allan23 Let's close if we're good with this. I did my testing on 4.5 recently, but would be nice if you can confirm.

I moved #54 to 0.4 since I think we should think about it more. Forcing a visit to the admin screen doesn't seem "good enough" to me. I'd say lets roll forward with this release as it has some pretty critical bugfixes and feature additions.

[2016-04-21 21:56] joshkoenig commented on #47
Hey @akhillgopinath - thanks for reporting this. Can you give us the full error output? What is the syntax error coming from that line?

[2016-04-21 21:56] joshkoenig commented on #39
Dupe of #54

[2016-04-21 21:56] #39 closed

[2016-04-21 21:57] joshkoenig commented on #28
Is this the same as #47?

Do we want to throw an admin warning if we're below PHP 5.5?

[2016-04-21 21:58] joshkoenig commented on #14
It's up to 3.5.1 now! We should also standardize a build/test process here.

https://github.com/solariumphp/solarium/releases

[2016-04-21 21:59] joshkoenig commented on #14
Also, make sure we've removed any hacks that went into Solarium.

[2016-04-21 21:59] joshkoenig commented on #41
Let's consider this for the next release.

[2016-04-22 03:05] allan23 commented on #66
@joshkoenig Everything is working fine on the 4.5 front.

[2016-04-22 19:24] joshkoenig commented on #66
Ok let's roll!

[2016-04-22 19:24] #66 closed

[2016-04-27 17:12] dgorton opened #71 "Add warning for PHP < 5.4"
Don't enable, display admin warning, etc.

[2016-04-27 17:18] joshkoenig opened #72 "De-fork Solarium"
Pre-requisite for #14 - we have a little shim in Solarium. We should subclass instead like the proper OOPers that we are.

[2016-05-02 22:36] ataylorme commented on #37
Facets were mentioned in the WordPress.org support forum as well ([link](https://wordpress.org/support/topic/range-facets?replies=1)).

[2016-06-02 13:10] yumyo commented on #37
Hi,
any update on this?

Also, +1 for "playing nicely" with FacetWP

[2016-06-02 13:22] ataylorme commented on #37
Hi @yumyo,
This is on our radar for the next release (0.4) but we don't have a definite timeline. You can keep an eye on the [0.4 milestone](https://github.com/pantheon-systems/solr-power/milestones/0.4).

If you would like to help contribute pull requests are welcome!

[2016-06-09 14:37] ataylorme commented on #72
Removing the 0.4 milestone. Since this isn't a new feature, just some internal cleanup, it can be a patch version bump instead of a minor release and shouldn't hold up other, new features for 0.4

[2016-06-09 14:38] ataylorme commented on #14
Removing the 0.4 milestone. Since this isn't a new feature, just some internal cleanup, it can be a patch version bump instead of a minor release and shouldn't hold up other, new features for 0.4

[2016-06-09 14:41] ataylorme commented on #41
I think we should consider resolving the existing issues and feature requests first and tackle multisite compatibility after a version 1.0 release.

[2016-06-09 16:31] #28 closed

[2016-06-09 16:31] #47 closed

[2016-06-09 16:31] #71 closed

[2016-06-09 17:10] ataylorme commented on #37
Just a quick update - we released 0.4 as auto-submitting schema was a feature worthy of it's own release. Facets are still on the radar and will likely be in the next release or two.

[2016-06-09 17:12] ataylorme commented on #54
Fixed in PR #57 - closing out

[2016-06-09 17:12] #54 closed

[2016-06-11 18:42] ataylorme opened #75 "Add wp-cli support"
We should support actions from the plugins settings page in wp-cli.
* Check Server Settings
* Optimize Index
* Delete All
* Repost schema.xml
* Index Searchable Post Types

We should also consider informative commands.
* `info` should return ping status, Solr server IP address, Solr server port and Solr server path.
* `stats` should return a table of indexing status by post type

I think these two

[2016-06-14 14:10] albertcausing opened #76 "How is it possible to change the page result limit from 10 to higher value?"
Even manipulated to sets to 100 from the config page https://monosnap.com/file/bM3fyHDdaB8XyJsGurHawwpW0Z8R04
or using this file includes/class-solrpower-options.php

Is there a way to increase result value from 10?

[2016-06-14 15:59] ataylorme commented on #76
@albertcausing I don't believe this is an issue with the Solr Power plugin. The Solr Power plugin replaces `WP_Query` results with items from Solr instead of the database but makes no other changes.

If you (or your theme or one of your plugins) are using [the pagination parameters of WP_Query](https://codex.wordpress.org/Class_Reference/WP_Query#Pagination_Parameters), settings the number of resu

[2016-07-05 20:59] danielbachhuber commented on #75
@ataylorme Want some help with this?

[2016-07-05 21:10] danielbachhuber opened #79 "Use Behat to test Solr Power on Pantheon"
On a couple other Pantheon plugins now, we're using Behat to verify the plugin works as expected on Pantheon (e.g. https://github.com/pantheon-systems/wp-redis/pull/103). It would be cool if Solr Power did this too.

At a high-level, here's how it works:

* We're using Circle (in addition to Travis) to automate the creation and destruction of a Pantheon environment for an existing Pantheon site. I

[2016-07-06 20:29] ataylorme commented on #75
As @allan23 pointed out there is some initial WP-CLI support ([see here](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-cli.php)) but the coverage is lacking.

We would like to expand the coverage as well as add a wiki page to Github with documentation on available commands.

[2016-07-08 18:05] ataylorme opened #80 "Fatal error when PANTHEON_INDEX_PORT or PANTHEON_INDEX_HOST environment variables are not configured"
From [PR #74](https://github.com/pantheon-systems/solr-power/pull/74)

We should check if the environment variables are set and, if not, display an WordPress dashboard warning to the user rather than having a fatal error.

[2016-07-11 15:31] ataylorme commented on #72
@allan23 Check out @stevector's [commit on removing the Solarium patch for the Drupal module](https://github.com/stevector/search_api_pantheon/pull/19/files#diff-ab66d9a69b5ed6f6025041ee470895d5R1).

[2016-07-11 20:02] stevector commented on #72
I did some cleanup on the subclass: https://github.com/stevector/search_api_pantheon/pull/21/files

[2016-07-11 20:04] ataylorme commented on #72
Thanks Steve!

[2016-07-12 13:40] ataylorme commented on #76
@albertcausing Were you able to test on your end to adjust `WP_Query` parameters?

[2016-07-13 20:20] #80 closed

[2016-07-13 20:29] ataylorme commented on #46
Hi @akhillgopinath,
There is a filter for `solr_post_types`. You can use this filter to have Solr Power only index products - instead of the default pages/posts.

[2016-07-14 14:05] akhilgopinat commented on #46
thanks @ataylorme , this may help me to add custom facets for each product  category section , current default WooCommerce Widgets are heavy if we have more product attributes in the widget . So i am trying to build alternative way to get product category results from solr instead WooCommerce query . I will update you soon

[2016-07-14 14:09] ataylorme commented on #46
@akhilgopinat We are currently working on a facet widget that will let you do exactly that.

Here is a screenshot of the work in progress. You can also follow along on the pull request, #78.

![solr-power-facet-widget](https://cloud.githubusercontent.com/assets/2133004/16842308/a1da0bea-49a2-11e6-88d6-4aff7a1f54c3.png)

[2016-07-14 14:12] akhilgopinat commented on #46
Thanks @ataylorme

[2016-07-14 17:51] allan23 opened #83 "Documentation Needed For Filters"
It will be beneficial for developers to have all filters in this plugin documented on the GitHub Wiki.

[2016-07-15 17:27] danielbachhuber opened #85 "Use WPCS to ensure the codebase adheres to WordPress Coding Standards"
WPCS (https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards) is a series of PHP Codesniffer Sniffs to ensure a codebase adheres to WordPress' coding standards. We should set it up for the project, as we already have for https://github.com/pantheon-systems/wp-redis et al.

Setting up WPCS involves:
- [x] Defining the dependencies in composer.json https://github.com/pantheon-syste

[2016-07-15 17:31] danielbachhuber opened #86 "Document local setup steps"
For users who want to work with the plugin locally, we should have a short "how-to" guide for getting Solr running locally.

[2016-07-15 17:36] jlambe commented on #86
👍

[2016-07-18 12:59] ataylorme opened #89 "Use WordPress coding standards"
We should be using [WordPress coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/).

Commits for updated formatting should be made independently of other commits.

[WordPress coding standards for PHP_CodeSniffer](https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards) will be useful.

[2016-07-18 13:03] ataylorme commented on #89
Duplicate of #85 - closing out.

[2016-07-18 13:03] #89 closed

[2016-07-18 13:04] ataylorme commented on #85
I agree wo should be using [WordPress coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/).

Outside of automation and formatting updates should be made independently of other commits.

[2016-07-18 13:45] danielbachhuber commented on #86
Just so it's documented, I tried setting this up locally by connecting to a Pantheon Solr instance. However, it appears the Pantheon Solr instance is behind a firewall, and doesn't respond to pings from an external network.

[2016-07-19 18:48] danielbachhuber commented on #79
After #95 lands, it would be nice to finish this issue up with a few more scenarios for basic plugin operation.

[2016-07-19 19:15] danielbachhuber opened #98 "Abstract CSS and JS to dedicated files"
There is some inline CSS and JS in the options page that would be better abstracted out to dedicated resource files.

[2016-07-20 20:34] danielbachhuber commented on #72
@ataylorme @allan23 Does this mean it's not safe to run `composer install`, because there's some forked code committed to the `vendor` directory?

[2016-07-20 20:45] danielbachhuber opened #99 "Don't run duplicate builds on Travis"
One of these isn't necessary:

![image](https://cloud.githubusercontent.com/assets/36432/17002450/2cb11a74-4e80-11e6-904e-4a9a4edea104.png)

[2016-07-20 20:51] greg-1-anderson commented on #99
Drush fixes this by limiting the branches built as follows:
[code]

Note that the 'branches' directive also applies to tags; including semver tags allows tests to run on releases.

This project only has one `dev` branch (master), and uses two-digit version numbers, so perhaps this would work:

[code]

[2016-07-22 12:34] danielbachhuber opened #102 "Create a public interface for getting server info"
Rather than having the following throughout:

[code]

We should have a method on the API class that returns this data, for use by the options page and CLI.

[2016-07-22 12:43] danielbachhuber opened #103 "Hide UI Option to Submit Schema on non-Pantheon Environments"
The `SolrPower_Api->submit_schema()` method has some hardcoded dependencies on Pantheon, which makes it very difficult to use in other environments. We should decouple it from the Pantheon environment dependency.

[2016-07-24 18:08] ataylorme commented on #72
@danielbachhuber Started this in PR #105. Would love to chat with you or @greg-1-anderson on getting our `vendor` directory out of the repo.

[2016-07-26 19:59] stevector commented on #15
@danielbachhuber This issue looks like https://runcommand.io/for/release-plugin-wordpress-org/

[2016-07-26 20:00] danielbachhuber commented on #15
In fact, it does :)

[2016-07-27 20:27] ataylorme opened #108 "Facet widget relation options"
The facet widget should support a selection of relation types for each facet in the search. These options are `AND`, `OR` and `EXCLUDES`.

The default should be `OR` - searching for items matching any of the selected facets.

`AND` will match only items matching all of the selected facets.

`EXCLUDES` will match items without any of the selected facets.

This option should be reset when the facet

[2016-07-30 20:30] allan23 commented on #103
@danielbachhuber Can you elaborate on this issue? The submit_schema() method is only for Pantheon and is not an option on non-Pantheon environments. I don't foresee any other environment allowing the ability to send the schema.xml to the Solr instance.

When you say decouple it, are you saying to remove this method completely from the plugin? And if so, does that mean that Pantheon should have sep

[2016-08-01 16:26] danielbachhuber commented on #103
Ok, I wasn't aware of this. Should we hide the UI in a non-Pantheon environment then?

Not necessarily. More so, I saw it as a hardcoded dependency on Pantheon that would benefit from some form of abstraction. Given the detail you've provided, I think it would be fine to just hide the UI in a non-Pantheon environment.

[2016-08-01 16:33] ataylorme commented on #103
+1 for this - should be a simple change.

[2016-08-03 21:26] ataylorme opened #110 "Use Composer autoloader"
We should use Composer auto loader instead of hard-coded requires. See [`solr-power.php`](https://github.com/pantheon-systems/solr-power/blob/master/solr-power.php#L132:L138)

[2016-08-04 13:47] ataylorme opened #111 "Update Solr version for testing"
The Solr version in [`bin/install-solr.sh` is `3.6.2`](https://github.com/pantheon-systems/solr-power/blob/master/bin/install-solr.sh#L45). Pantheon uses `5.5.x` and we should update accordingly.

A list of Solr releases is available [here](http://archive.apache.org/dist/lucene/solr/).

[2016-08-04 20:45] allan23 opened #113 "Standardize Translations"
Textdomains vary throughout the plugin -- they all need to match. Also need a new pot file.

[2016-08-04 22:55] allan23 opened #114 "Increase Code Coverage"
More unit tests are needed.

[2016-08-05 15:00] #111 closed

[2016-08-05 15:01] ataylorme commented on #79
@danielbachhuber Want me to leave this issue open until we get some more tests?

[2016-08-05 16:15] ataylorme opened #116 "Create additional Behat tests"
Add a few more scenarios for basic plugin operation. See #79.

[2016-08-05 16:16] ataylorme commented on #79
Raised #116 to create additional Behat tests in the future. Since we have basic coverage I'm closing this out.

[2016-08-05 16:16] #79 closed

[2016-08-05 20:06] ataylorme commented on #14
Merged in #106

[2016-08-05 20:06] #14 closed

[2016-08-05 20:07] ataylorme commented on #99
Fixed in [50e4a05cfd10205a88a8f7e674f38c9cd1d115b5](https://github.com/pantheon-systems/solr-power/pull/106/commits/50e4a05cfd10205a88a8f7e674f38c9cd1d115b5)

[2016-08-05 20:07] #99 closed

[2016-08-05 20:07] ataylorme commented on #86
Merged in #92

[2016-08-05 20:07] #86 closed

[2016-08-05 20:07] ataylorme commented on #75
Merged in #104

[2016-08-05 20:07] ataylorme commented on #72
Merged in #106

[2016-08-05 20:07] #72 closed

[2016-08-09 15:46] ataylorme commented on #15
This script will need to:

- Compile production assets with Grunt
- Run `composer install` to download dependencies
- Update `trunk` in SVN
- Create a new tag in SVN

[2016-08-09 20:50] ataylorme commented on #37
Closed by #118

[2016-08-09 20:50] #37 closed

[2016-08-09 21:06] #110 closed

[2016-08-09 21:21] ataylorme commented on #83
Closed this prematurely. We still need to document the filters on the project Wiki.

[2016-08-10 14:10] ChrisWiegman commented on #85
I'd be happy to run with this as it will stop my IDE from yelling at me every time I save a file. Feel free to have @allan23 assign to me.

[2016-08-10 14:13] ataylorme commented on #85
@ChrisWiegman I assigned most items to @allan23 but feel free to grab anything from the [1.0 milestone](https://github.com/pantheon-systems/solr-power/milestone/5) to work on.

[2016-08-10 14:14] #98 closed

[2016-08-10 20:49] ataylorme commented on #17
This should be as easy as adding a parameter to existing `WP_Query` calls.

[2016-08-10 21:13] ataylorme commented on #17
@allan23 and @ChrisWiegman After chatting with @joshkoenig and having use case to back this up this issue should be top priority for the 1.0 milestone.

[2016-08-10 21:20] ataylorme opened #124 "Ajax facet search support"
User's expect a modern experience and having to scroll back to the top of the facet widget and click search to see updated results is a poor experience.

We should add some Ajax to the facet widget so when facet select inputs are changed after the initial search the results are updated.

The facet inputs should also be disabled while new results are being fetched so another ajax call isn't fired o

[2016-08-10 21:21] ataylorme opened #125 "Accented characters in facet names cause issues"
Similarly to how we are escaping characters like ampersand we need to escape accented characters.

Facet names with accented characters, e.g. "Room Décor", return no results when there are some.

[2016-08-10 21:31] ataylorme commented on #17
We're looking for something like [this](https://github.com/10up/ElasticPress#wp_query-and-the-elasticpress-query-integration)

[code]

[2016-08-10 23:45] ataylorme opened #126 "Return facets in full text search results"
Solr search should return matches for facets in full text search. For example, if a post has the category "Movie" it should return in the results for the query "movie".

Facets values, such as category, should be considered but scored less than post title or content.

[2016-08-11 14:49] #102 closed

[2016-08-24 16:44] allan23 commented on #17
@ataylorme Do we have more test cases in mind for this integration? I've got a few unit tests setup, but it would be ideal to have more scenarios. (https://github.com/allan23/solr-for-wordpress-on-pantheon/blob/feature/wp_query/tests/phpunit/test-solr.php#L523)

[2016-08-24 17:13] ataylorme commented on #17
@allan23 Some tests on more complex custom field queries would be good. See [custom field parameters on the Codex page](https://codex.wordpress.org/Class_Reference/WP_Query#Custom_Field_Parameters) for some examples.

Tests with custom post types, in addition to the defaults, would be good as well.

[2016-08-24 19:57] allan23 commented on #63
@ataylorme  Would this just be an extension of the options page query?

[2016-08-24 20:15] ataylorme commented on #63
@allan23 Yes, I think @erik-pantheon is looking for a pass through allowing direct queries to the Solr Instance. Erik, can you confirm?

This is lower priority than items in the 1.0 milestone.

[2016-08-25 13:08] ataylorme commented on #17
@allan23 a few more use cases for testing:

1. WP_Query with a tax_query parameter
2. WP_Query with a date_query of "before" and a tax_query parameter
3. WP_Query with a tax_query parameter and an include_children flag
4. WP_Query with a date_query of "before" and a meta_query parameter

[2016-08-29 20:02] Paul7200 opened #131 "Is there a way to query by post_date range?"
I'm trying to get all the posts between date X and Y, but can't seem to find a good solution. From what I can gather from documentation and in the Schema file it appears '`q=somequery&post_date:[2000-01-01T00:00:00Z TO 2015-12-314T23:59:99.999Z]`' should do the trick, but no such luck.

[2016-09-09 12:19] ataylorme opened #132 "Related Posts Widget"
Most related posts plugins use the database and are very resource heavy. Similar to the facet widget I think it would be beneficial to add a related posts widget and accompanying function to be used in templates.

A new tab in the Solr Power options page could be added to define post types, metadata, taxonomies and priority.

Alternatively this could be setup with the existing functionality as an

[2016-09-09 12:21] ataylorme commented on #17
Another use case from #131 - multiple date queries, e.g. all posts between two dates.

[2016-09-12 17:28] stevector commented on #15
@davidstrauss, I know you have thoughts on ways to do git -> SVN. Do you have time this afternoon, tomorrow or Wednesday to discuss with @danielbachhuber? Daniel has some availability and could make progress here.

[2016-09-12 18:30] davidstrauss commented on #15
@stevector Any chance the built-in support in git meets the needs? https://git-scm.com/docs/git-svn

[2016-09-13 15:52] #103 closed

[2016-09-13 18:40] ataylorme commented on #75
Documentation added to `README.md`. Since this is displayed on the repo home page I don't think there is a need to add to the wiki as well.

[2016-09-13 18:40] #75 closed

[2016-09-19 12:01] djrules24 opened #134 "Possible to install the plugin in Non Pantheon servers such as linode ?"
Solr Configuration
Ping Status:    Failed
Solr Server IP address: 139.162.44.105
Solr Server Port:   8983
Solr Server Path:   /sites/self/environments//index

How do you change the solr server path

[2016-09-19 13:17] ataylorme commented on #134
Hi @djrules24,
Yes, see [#3 in the Installation section of the README](https://github.com/pantheon-systems/solr-power#installation).

You just need to set those environment variables.

[2016-09-20 06:28] djrules24 commented on #134
I have done the following
-> I have placed the following in the wp-config pointing to my server
putenv( 'PANTHEON_INDEX_HOST=192.168.50.4' ); // Replace with the appropriate IP address
putenv( 'PANTHEON_INDEX_PORT=8983' );
-> I have placed the following in functions.php
add_filter( 'solr_scheme', function(){ return 'http'; });
-> I have changed the solr server path in api.php in your plugin direct

[2016-09-20 13:55] ataylorme commented on #134
Hi @djrules24,

You'll need to do an initial index from the Solr Power plugin options page for existing posts. After that newly created posts should be indexed as well.

By default posts with the post type `post` are indexed. You can use the plugin options or the filter `solr_post_types` to add additional post types to be indexed. If you update the post types to be indexed you will need to re-inde

[2016-09-22 22:19] ataylorme commented on #131
Hi @Paul7200,
We're currently working on implementing support with `WP_Query` ([#17](https://github.com/pantheon-systems/solr-power/issues/17)) which will make querying by date easy.

[2016-10-02 00:13] Ritesh-patel commented on #113
@allan23 this has been added in #135

[2016-10-02 16:58] Ritesh-patel commented on #125
@ataylorme @allan23 I created a post with `Room Décor` post title and can see that post in search result when I tried to search `Décor`. Not sure if this is still valid or correct me if I am wrong.

[2016-10-03 00:00] allan23 commented on #125
@Ritesh-patel instead of a post, create a category or a custom field with that name.

[2016-10-03 17:34] Ritesh-patel commented on #125
@allan23 it's working fine with category as well. Couldn't check with custom field as it isn't added yet.

[2016-10-03 17:48] ataylorme commented on #125
@Ritesh-patel Are you using standard search? This bug is for the facet widget. When faceted items, such as category, have an accented character they return no results.

See [this search](http://dev-solr-power.pantheonsite.io/?s=apple) on the example site. If you add the facet for the `All Kids' Furniture & Room Décor` category there are no results (there should be three). Other categories work as

[2016-10-03 18:48] Ritesh-patel commented on #125
@ataylorme now I see it, thanks for the info :)

[2016-10-03 20:13] Ritesh-patel commented on #125
@ataylorme I assigned following 3 categories to "Hello World" post.

- Room Décor
- All Kids' Furniture & Room Décor
- All Kids' Furniture & test

When I search for "Hello" in facet widget, I can see these 3 categories to filter. The `Room Décor` category is working fine for me in facet widget but not `All Kids' Furniture & Room Décor` and `All Kids' Furniture & test`. So I think issue is not with

[2016-10-03 20:16] Ritesh-patel commented on #125
@ataylorme @allan23
Update to my last comment:  I added two more categories "100$ posts" and "100$’ posts". Only `100$’ posts` fails. So I think it's not special characters but specific to apostrophe (') ?

[2016-10-03 20:16] ataylorme commented on #125
@Ritesh-patel that may be true and it was just a coincidence that the item I tested had both.

[2016-10-03 20:59] ataylorme commented on #125
@Ritesh-patel the goal would be for all of these variations to work without issue. Your latest comment looks like the quote conversion might be the result of [wptexturize](https://codex.wordpress.org/Function_Reference/wptexturize)

[2016-10-03 23:20] Ritesh-patel commented on #125
#137 fixes single quote in facet issue.

[2016-10-04 16:03] jon-heller opened #138 "More detailed instructions for running locally"
I found I needed to do a lot of configuration to get this running locally, including downloading an older version of Solr and adding an environment variable. I wrote out some instructions, maybe for the Wiki if they're helpful.

----

## Installing Solr

Install Java, if you haven't already

[code]

Next install a 4.X version of Solr (this example uses 4.7.2). This is important as the schema.xml f

[2016-10-05 11:25] Ritesh-patel opened #139 "Fallback to WP Query if solr search in not reachable"
If solr search is not reachable than it should fallback to WordPress' WP Query.

[2016-10-05 15:15] #113 closed

[2016-10-05 15:42] ataylorme commented on #138
Hi @jon-heller,
Thank you for the very detailed writeup. This would be a great addition to the wiki or README. What OS and version are you on? The use of `apt-get` suggest a Debian system, like Ubuntu. I would prefer to create a page for each this OS and maybe add others, like OSX, in the future.

Cheers,
Andrew

[2016-10-05 15:42] ataylorme commented on #139
+1 on this. @allan23 can you incorporate into the `WP_Query` branch you are working on?

[2016-10-05 15:48] ataylorme commented on #138
@jon-heller - I'm also curious if you tried using [the existing installation instructions](https://github.com/pantheon-systems/solr-power#installation), which make use of [`bin/install-solr.sh`](https://github.com/pantheon-systems/solr-power/blob/master/bin/install-solr.sh)

[2016-10-05 17:49] jon-heller commented on #138
Hi @ataylorme,

Glad it sounds helpful! This was done on Ubuntu 14.04.

As for `bin/install-solr.sh`, that unfortunately doesn't appear to exist in Solr 4.*, which is why I had to add those manual steps to move and start it.

[2016-10-05 18:49] ataylorme commented on #138
@jon-heller `bin/install-solr.sh` is a script in the Solr Power plugin repo. It's what we use to install Solr for automated tests. It does many of the steps you have listed, such as downloading Solr, copying the `schema.xml`, and starting Solr service.

[2016-10-06 15:28] jon-heller commented on #138
Hah, you're right. I saw the line in the instructions which says

`Run ./bin/install-solr.sh to install and run Apache Solr on port 8983.`

but thought that was referring to the script in the Solr codebase, which is `bin/install_solr_service.sh`. But you're right, the script in this repo takes care of the installation and collection creation. So maybe it's just the `SOLR_PATH` environment variable

[2016-10-06 15:49] ataylorme commented on #138
@jon-heller

Nope, the script simply installs Solr. Your section on _Configure WordPress to talk to Solr_ is still very useful. Our instructions include didn't include setting the Solr path.

I updated our README. Can you take a look at [the updated instructions](https://github.com/pantheon-systems/solr-power#installation) and see if they make sense?

[2016-10-07 17:11] Ritesh-patel commented on #83
Added wiki page https://github.com/pantheon-systems/solr-power/wiki

[2016-10-07 18:52] ataylorme commented on #83
Great, thank you @Ritesh-patel. Can you also add this to `readme.txt` and `README.md`? Note that if you modify `readme.txt` there is a Grunt task to generate `README.md`

[2016-10-07 19:25] #83 closed

[2016-10-07 23:29] ataylorme commented on #17
Per chat with @allan23  we are going to split this into multiple pieces rather than one monolithic task.

- [ ] Basic `WP_Query` support (post/page, post type, author, status, pagination, return fields)
- [ ] Basic `meta_query` support (`=` and `!-` operators)
- [ ] `tax_query` support (built-in taxonomies and custom taxonomies)
- [ ] `date_query` support
- [ ] Full `meta_query` support (all opera

[2016-10-08 00:03] joshkoenig commented on #17
That sounds good. I'll connect you with one of our customers who would be eager to try and put some of this code into action.

[2016-10-10 19:21] kshaner opened #142 "Supported Versions of Solr"
Is there a list of officially supported versions of Solr?  When attempting to use v5.5 or v6.2 I get a 404 error with the ping endpoint.  However, when using the 3.6.2 as provided in the bootstrap bash script it works.

However, in issue #111 it mentions that Pantheon uses the 5.5.x line.  Are there updated instructions for getting setup with newer versions of Solr?

[2016-10-11 14:21] ataylorme commented on #142
@kshaner,
Sorry, #111 was incorrect (and why I closed it). We are working on an upgrade path but it is still in the early stages. Solr Power won't work with `5.x` or above due to Solr Power using `schema.xml` vs the Schema API [introduced in `5.0.0`](http://lucene.apache.org/solr/5_0_0/changes/Changes.html#v5.0.0.new_features)

[2016-10-11 14:21] #142 closed

[2016-10-11 15:08] kshaner commented on #142
@ataylorme thanks.  This info might be useful in the readme.

[2016-10-11 15:33] jon-heller commented on #138
@ataylorme Yep, looks good!

[2016-10-11 15:36] ataylorme commented on #138
Awesome - thanks @jon-heller. Closing this out. As an aside we're working on `WP_Query` support. Would you be interested in helping us test?

[2016-10-11 15:36] #138 closed

[2016-10-12 16:52] #125 closed

[2016-10-13 17:24] ataylorme opened #144 "Add Grunt task to generate .pot file"

[2016-10-14 03:24] #144 closed

[2016-10-18 17:49] ttrowell opened #146 "Sort option not saved in Indexing options"
See BUGS-808

http://screencast.com/t/0pXyvJZd
Choosing default sort of 'displaydate' is not saving in the Indexing options for WP Solr Power.
http://www.awesomescreenshot.com/image/1725976/e1263eaa938dbf589d7808fdb76639a8

Customer reported it and I was able to reproduce on my own fairly Vanilla WP site.

[2016-10-19 21:18] ttrowell commented on #146
Branch tested but activation of 0.6.0 version was not successful

[2016-10-19 21:50] #146 closed

[2016-10-31 16:49] dustinleblanc opened #150 "Illustrate clearly how to use Admin Query screen"
Folks typically expect the backend query screen to behave like a user facing search. We should provide an example of how to use this field in the readme and consider making the page more explicit about this being a "raw" solr query.

[2016-11-02 18:51] cjbos opened #153 "Error when indexing via terminus"
Hi,

I get a error here when indexing via terminus

https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L304

Looks like id should be term_id instead? (As per https://codex.wordpress.org/Function_Reference/get_the_tags)

[2016-11-03 22:58] allan23 commented on #153
Hi @cjbos,
Great catch. I'll submit a pull request shortly to correct this.

[2016-11-04 00:43] cjbos commented on #153
Thanks! Btw this plugin is a godsend, thanks again!

[2016-11-09 13:34] #153 closed

[2016-11-09 13:48] ataylorme commented on #153
@cjbos - this has been merged in. We're working on adding `date_query` support and don't plan to do another release until that is merged. You can download the master `.zip` from GitHub to test this fix until a new release is tagged and shipped to WordPress.org.

[2016-11-10 14:08] ataylorme commented on #134
Just wanted to note that partial `WP_Query` support has been released.

[2016-11-10 14:08] #134 closed

[2016-11-14 18:40] ataylorme commented on #124
@allan23 adding your comments from email here. I'll need to think about this and get back to you.

[2016-11-15 18:09] ataylorme commented on #124
@allan23,

I like this approach. We can use the [template_include filter](https://codex.wordpress.org/Plugin_API/Filter_Reference/template_include) and provide a default search template with the plugin but check if an override exists in the theme directory. Something like "solr-search-results.php" or similar. The template would just output the HTML provided by the search results.

This is similar

[2016-11-18 03:44] allan23 commented on #126
@ataylorme Looking at this, can't we just implement a boost function that scores post_title and post_content higher than everything else?

[2016-11-18 13:51] ataylorme commented on #126
@allan23 - Yes, that makes sense to me.

[2016-11-22 20:23] allan23 commented on #108
Hey @ataylorme,
Do you envision this as:
1. A select box with the three options on the form/widget itself.
2. A select box on the options page for these.
3. Something else?

[2016-11-22 21:19] ataylorme commented on #108
@allan23 I envisioned it as a select or radio option within each facet on the widget. This is something the end-user will edit, rather than a site admin.

Following the cars example someone way want cars with year 2014 OR 2015 then EXCLUDE models pickups and SUVs.

[2016-11-29 18:23] ataylorme commented on #139
@allan23 - I wanted to bump this. I think it's pretty low hanging fruit and something we can ship in the next release.

[2016-11-29 21:56] #126 closed

[2016-12-03 14:28] ataylorme opened #163 "Admin UI improvements"
The admin UI is pretty basic and could use some style/UI love. This needs more scoping/discovery.

<img width="974" alt="screen shot 2016-11-30 at 1 28 45 pm" src="https://cloud.githubusercontent.com/assets/2133004/20859940/e1daa508-b93a-11e6-998b-6bb21ac88a1b.png">

[2016-12-06 13:15] cjbos opened #164 "Feature Request: Add a hook when indexing all posts has been completed"
We have a few terms which we display as regular posts on our site, I've indexed them into solr as if they are posts via a cli command which is run after we re-index all the posts or load the terms. (These terms are pulled from an external source and not updated)

It would be really handle if we could have a hook of some sort once indexing all the posts has been completed so we don't have to manual

[2016-12-06 13:19] ataylorme commented on #164
@cjbos adding this hook is a good idea. We're currently working on the next release so I'm assigning this to myself to get it added in.

[2016-12-06 16:50] cjbos commented on #164
Great, thanks!

[2016-12-13 16:24] ataylorme commented on #164
@cjbos The proposed action is `solr_power_index_all_finished` and will fire when indexing all posts, either from the settings panel or wp-cli, has finished.

Note that the Solr index also updates when individual posts are modified, deleted, etc. This action only fires for the bulk index, not indexing individual posts.

[2016-12-13 17:05] cjbos commented on #164
Thanks!

[2016-12-13 17:07] ataylorme commented on #164
We still have a few other features to finish before we cut a release but once this ships I'll let you know.

[2016-12-13 19:38] ataylorme opened #168 "The s argument doesn't work with WP_Query when solr_integrate is enabled"

[2016-12-14 02:53] cjbos opened #170 "handle_modified() in SolrPower_Sync does not check to see if the modified post is searchable"
I added a check against the modified post type and the searchable post types, to prevent non-searchable posts appearing in the search results.

Also I think this is a duplicate? https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L58

[2016-12-14 14:21] ataylorme commented on #170
Hi @cjbos,

Can you submit this change as a pull request?

Also it looks like you are right on the duplicate line. If you want to remove that in your PR as well it would be fantastic.

Cheers,
Andrew

[2016-12-14 14:41] cjbos commented on #170
Sure, https://github.com/pantheon-systems/solr-power/pull/171

Thanks!

[2016-12-14 19:56] #164 closed

[2016-12-14 21:01] joshkoenig opened #172 "Facet Widget UI Improvements"
Collecting some UI notes for the out-of-the-box search facet widget before we go 1.0. We can add to this list as we do more testing/demos:

- [ ] When searching via AJAX, the facet UI should not fade in/out
- [ ] We should only supply "reset" links below facets that are selected

[2016-12-14 21:21] joshkoenig commented on #163
We should consider splitting all the facet widget settings into it's own tab. It doesn't really belong under "indexing"

[2016-12-15 23:28] ataylorme commented on #172
@joshkoenig this is happening because the HTML of the div is being replaced with new data when results are updated since facets change.

I could _not_ replace the HTML and hide all facet inputs except the one selected with jQuery but that doesn't seem right either.

[2016-12-15 23:31] ataylorme opened #175 "Allow multi-select of facets"
This will mean using Solr tags/filters to return all facets, even those not in the results. It will be up to the front-end (e.g. Ajax widget) to disable any items that will yield zero results.

Multi-select should be off by default and be opt-in with a filter or in the admin settings.

[2016-12-15 23:41] joshkoenig commented on #172
@ataylorme I'm saying that fade out/in is not the ideal visual effect for that UI transition. This is a separate content replacement than the search results. We should make it instant.

[2016-12-16 17:47] ataylorme commented on #172
@joshkoenig Please test [this multidev](http://andrew-ajax-solr-power.pantheonsite.io/?s=*).

* Reset links only show up when a facet is selected
* Pagination works
* Facet UI doesn't fade in/out
* Cleaned up search result HTML

If all this looks good I'd like to merge this into your multidev and test on the theme you are building.

[2016-12-16 19:34] #168 closed

[2016-12-16 19:45] ataylorme commented on #76
Closing this out since there hasn't been activity in months.

[2016-12-16 19:45] #76 closed

[2016-12-16 19:48] ataylorme commented on #51
No activity here for quite some time. Rachel if this is still an issue on the current version please re-open.

[2016-12-16 19:48] #51 closed

[2016-12-16 19:50] ataylorme commented on #52
We have an admin option for custom fields which takes a comma separated list of meta keys.

I think a drop-down with all public custom fields would get very, very long. Also it would need to be a multi-select, not a standard drop-down to support indexing multiple custom fields.

I'm going to close this out but if you feel strongly about having a multi-select for public custom fields please re-open

[2016-12-16 19:50] #52 closed

[2016-12-19 14:23] #124 closed

[2016-12-19 14:23] #172 closed

[2016-12-19 21:28] ataylorme commented on #163
This was updated in #179 but some other visuals, like the icons shown in the image above, aren't implemented so leaving this issue open.

[2016-12-19 21:30] ataylorme commented on #150
@dustinleblanc and @joshkoenig do you think the raw Solr query is something still useful for users? With `WP_Query` integration I the idea is that people don't need to interact with Solr directly as the plugin is handling it.

I'm personally in favor of just removing this tab to avoid confusing most folks and documenting the public method to run a direct query, maybe in the readme or Wiki, for the

[2016-12-19 22:04] ataylorme commented on #17
@joshkoenig we are missing a few operators, like regex, for `meta_query` but have almost full `WP_Query` coverage. I'm closing out and opening a new issue for complete coverage.

[2016-12-19 22:04] #17 closed

[2016-12-19 22:05] ataylorme opened #180 "Support for WP_Query post__in and post__not_in"
Missing some support, like regex operators on `meta_query`. Mostly there but would be nice to get complete coverage.

[2016-12-19 22:06] ataylorme commented on #85
Punting this so we can get `1.1` out.

[2016-12-19 22:22] ataylorme commented on #150
Moving forward with removing the query tab from the admin interface.

Documentation on running a direct query with the `SolrPower_Api` class is on [this wiki page](https://github.com/pantheon-systems/solr-power/wiki/Interacting-with-the-SolrPower_Api-class).

[2016-12-19 22:22] #150 closed

[2017-01-04 20:32] ataylorme commented on #170
Addressed by #171

[2017-01-04 20:32] #170 closed

[2017-01-04 20:33] ataylorme commented on #63
No discussion on this in months, closing out. Erik please re-open if this is still something you're looking for.

[2017-01-04 20:33] #63 closed

[2017-01-04 20:34] ataylorme commented on #46
@akhilgopinat Check out [Solr Power 1.0](https://wordpress.org/plugins/solr-power/) which has the facet widget as well as `WP_Query` support, including custom post types.

[2017-01-04 20:34] #46 closed

[2017-01-04 20:36] ataylorme commented on #139
To be clear we should be falling back to the WordPress defaults for `WP_Query` and search if the plugin is installed and activated but Solr is not available.

This will probably be checking if Solr is available and only implementing hooks into those items if it is.

[2017-01-04 20:38] ataylorme commented on #85
When working on this the first priority should be code comments. Once all code is properly commented/detailed we can work on formatting.

[2017-01-05 22:56] allan23 opened #183 "Ping Status on Options Page Always Says Successful"
Even when Solr is not active, the ping status on the options page continues to say "Successful".

[2017-01-05 23:12] ataylorme commented on #183
@allan23 you can add this to your bug list

[2017-01-08 19:43] #139 closed

[2017-01-08 19:44] #183 closed

[2017-01-13 15:32] ataylorme commented on #163
@joshkoenig can you review the admin UI updates on the `admin-ui` multidev?

[2017-01-20 12:25] amtbnagios opened #186 "Can't search with wordpress 4.7.1"
I installed solr 4.9.1 local on CentOS 6.8 with wordpress 4.7.1
solr power can Ping Success with Check Server Settings execute, and can
Index Searchable Post Types success

I can search with solr - 10 records return
http://192.168.10.10:8983/solr/#/wordpress/query

solrlog like:
INFO  - 2017-01-20 20:17:11.948; org.apache.solr.core.SolrCore; [wordpress] webapp=/solr path=/select params={indent=tru

[2017-01-23 18:11] danielbachhuber opened #188 "Poor activation UX for meta queries"
As a Solr Power user, I was confused by the fact that I needed to whitelist my post type's meta keys in order to have them sent to the index. Because I was confused, Solr Power didn't work for one of my use cases until I discovered the option, saved the appropriate values, and triggered a reindex.

[2017-01-23 18:14] danielbachhuber opened #189 "Clarify "Indexing Stats by Post Type""
In the following UI:

![image](https://cloud.githubusercontent.com/assets/36432/22216553/632a81aa-e154-11e6-97ed-e84b8909bfaa.png)

It would be helpful to indicate the total number of items in the database, so I can see whether my content is fully indexed or partially indexed.

[2017-01-23 18:19] danielbachhuber commented on #186
@amtbnagios It seems like this is your issue:

[code]

I'm not sure Solr Power supports Solr 4.x. Pantheon's infrastructure currently deploys Solr 3.x.

Can you try downgrading?

[2017-01-23 19:01] danielbachhuber opened #190 "Integrate with Debug Bar"
[Debug Bar](https://wordpress.org/plugins/debug-bar/) "adds a debug menu to the admin bar that shows query, cache, and other helpful debugging information."

![image](https://cloud.githubusercontent.com/assets/36432/22218372/471d7cf4-e15b-11e6-89ce-26e9ed4eee22.png)

It would be cool for Solr Power to add a panel to Debug Bar when the plugin is present.

[2017-01-23 20:02] danielbachhuber opened #191 "Better UX for restarting index process on large site"
As a Solr Power user with 200k posts, it's painful to have the index process die unexpectedly halfway through.

It would be more enjoyable to have a better UX for restarting the index process on a large site. Couple of ideas:

* Include an `--offset` argument for the `wp solr index` command so I can restart the process after a certain number of posts.
* Create functionality where WordPress knows w

[2017-01-23 20:09] danielbachhuber commented on #191
Actually, because the `paged` query var is used in `wp solr index`, we wouldn't want to support `offset` directly, because `offset` overrides `paged` (and would break the iteration).

[2017-01-23 21:01] stevector opened #192 "Switch to Terminus 1.0 in CI scripts"
Follow the pattern in https://github.com/lcache/wp-lcache/pull/110

@tessak22 and I are going to work on this at Agency Office Hours on Wednesday: https://pantheon.io/agencies/office-hours

[2017-01-25 14:45] acorbi opened #193 "Port not showing on Solr options"
Although specified properly in the enviroment variable ( on mu-plugin ), the port number is not showing properly on the **Solr Options > Solr options** menu:

![screenshot from 2017-01-25 15-43-34](https://cloud.githubusercontent.com/assets/384894/22294877/3cf3d910-e315-11e6-9ece-c799adb2c9c3.png)

The reason is a redundant get_env call on https://github.com/pantheon-systems/solr-power/blob/master

[2017-01-25 15:03] acorbi opened #195 "Install dependencies via composer update rather than composer install"
On the readme it is stated that dependencies must to be installed via ```composer install```  but since the repository contains a **composer.lock** file, when users run ```composer install```, nothing gets installed and following message is returned:

[code]

My suggestion would to either remove the **composer.lock** file from repo or to suggest using ```composer update``` for installing dependenc

[2017-01-25 15:26] acorbi commented on #186
@danielbachhuber @amtbnagios or someone reading this? Can you confirm whether Solr Power currently supports Solr 4.x or not?

[2017-01-25 15:59] acorbi opened #196 "Cannot access settings on Multisite"
I'm currently testing the plugin (see other Issues raised by me) and I have following problem while testing solr-power on a multisite instance:

The following error message is shown when I click on the settings link on the **Plugins** management screen:

![screenshot from 2017-01-25 16-51-55](https://cloud.githubusercontent.com/assets/384894/22297750/9786d8e2-e31e-11e6-8d03-752a2c760b83.png)

- Th

[2017-01-25 16:16] acorbi commented on #195
Hi @stevector , thanks for your reply.

YOu are right, I just did the test and installs properly. Closing this issue

[2017-01-25 16:16] #195 closed

[2017-01-26 13:17] danielbachhuber commented on #186
I don't believe so, no. Solr Power works fine with 3.6.x but I'm not sure if anyone has successfully used it with 4.x

@joshkoenig Thoughts?

Can do!

[2017-01-26 13:36] #193 closed

[2017-01-26 13:57] danielbachhuber opened #199 "Installing Solr 3.6 on a Mac"
I found these instructions to be useful: https://helpcenter.woodwing.com/hc/en-us/articles/204805509-Step-1-Installing-Solr-3-6#on-mac-os-x

Because Solr Power doesn't support submitting `schema.xml` outside of Pantheon, it took me a while to figure out the `schema.xml` from the plugin needs to go to `~/solr/solr/conf/schema.xml`

Should we have Mac installation instructions in `readme.txt` ?

[2017-01-26 14:37] ataylorme commented on #196
@acorbi what version of the plugin are you using?

[2017-01-26 14:43] ataylorme commented on #188
@danielbachhuber do you think this can be solved with documentation?

[2017-01-26 14:46] acorbi commented on #196
1.0.0 the one found on https://wordpress.org/plugins/solr-power/ and which I installed from the WP dashboard. is it the latest version?

[2017-01-26 14:47] ataylorme commented on #196
Yes, `1.0.0` is the latest version. I just wanted to make sure I test with the same version you are using.

[2017-01-26 14:50] ataylorme commented on #199
I think OS specific instructions could be on the Wiki. We can then link to the Wiki from the readme to keep the readme from getting too bloated. We can then break the existing Linux installation instructions out into the Wiki as well.

@joshkoenig thoughts on this approach?

[2017-01-26 17:08] joshkoenig commented on #186
Hey @amtbnagios - we don't test with version 4.x but it should be agnostic. It looks like your error message is getting cut off (the word "exception" ends without an "n") and that means it's not saying what part of the query failed.

Can you try and get the full error message? Also, can you verify that a simple ping from the admin interface works and that you were able to use the plugin to index y

[2017-01-26 17:35] danielbachhuber commented on #188
Potentially, although I don't think most people read the docs fully. It's a confusing user experience to have custom taxonomy data handled automatically, but meta values ignored.

[2017-01-26 19:42] ataylorme commented on #188
Agreed but not all meta values for a post type will need to be indexed. In the books example there might be Yoast SEO meta data, etc. Taxonomies tend not to be as cluttered.

Indexed meta also gets turned into facets and doing so automatically could create a search widget with a lot of irrelevant options.

Any thoughts on how to avoid indexing a bunch of meta that's not needed?

[2017-01-26 22:34] danielbachhuber commented on #188
Makes sense.

There's a core API for explicitly marking meta as public vs. private, but it tends to not be frequently used.

I'd look at the Elastic Search plugins to see how they've solved the problem.

One approach could be to have an obtrusive nag until settings have been saved once, and inject the document into that user experience.

[2017-01-26 22:40] ataylorme commented on #192
@stevector did you get to this? If not I might be able to carve out some time.

[2017-01-26 22:44] stevector commented on #192
@ataylorme, not in this repo. wp-saml-auth was the only one we did yesterday: https://github.com/pantheon-systems/wp-saml-auth/pull/52

I'll unassign myself here.

[2017-01-26 22:57] danielbachhuber commented on #191
@ataylorme For the admin, what do you think about this?

### No index to resume

![image](https://cloud.githubusercontent.com/assets/36432/22353879/6f7b284e-e3d7-11e6-8b91-1b428758de1c.png)

### Index to resume

![image](https://cloud.githubusercontent.com/assets/36432/22353930/b7d2feb4-e3d7-11e6-965d-97aa940d8c92.png)

[2017-01-26 23:01] ataylorme commented on #191
@danielbachhuber that looks good to me. I think a total would be nice (x/x posts indexed) but not necessary.

Since there is a resume would it be tough to add pause as well?

[2017-01-27 18:26] danielbachhuber commented on #191
It wouldn't be tough. I'm not convinced it's necessary, though.

[2017-01-27 18:43] danielbachhuber opened #202 "Better UX for Solr index failures on large batch indexes"
Performing an initial index on a large site is a time-consuming process. Because it's a time-consuming process, a little bit of brokenness can be significantly painful.

For instance, take this example where 16990 items have failed to index:

[code]

Ugh. Of my total data (202458 items), a quarter hasn't ended up in the index (46434). How do I even deal with this?

Here are a couple of ideas for h

[2017-01-31 21:15] ataylorme commented on #196
@acorbi Solr Power doesn't currently support multisite (see #41). I looked into this and it is not a trivial amount of work to implement. Multisite support will probably need a release of it's own.

[2017-01-31 22:40] acorbi commented on #196
Thanks for the infos @ataylorme. Me and the team at http://github.com/OpenDevelopmentMekong/ are currently analyzing the benefits, challenges and possibilities to collaborate on the further development of this plugin. Will keep you posted in case we can dedicate some resources for this.

[2017-02-01 14:47] ataylorme commented on #196
@acorbi collaboration would be most welcome. I'm closing out this issue but feel free to reach out to me if you decide to collaborate and we can chat next steps.

[2017-02-01 14:47] #196 closed

[2017-02-03 23:59] danielbachhuber opened #203 "Solr exception when trying to index CPT with custom meta 'year'"
[code]

[2017-02-04 00:04] danielbachhuber commented on #203
Solution https://github.com/danielbachhuber/solr-demo-redux/commit/45e04faa8bad870507dad65adb36f633b9e6fab5

[2017-02-04 00:05] danielbachhuber commented on #202
With #203, the error was pretty much inaccessible to me until I tried indexing locally and could look at the Solr logs for my local instance.

If indexing experienced an error, I'd expect to see the error right away (in both CLI and web UI) so I could take action on it and not have to wait until the process has completed to discover the issue.

[2017-02-04 17:33] danielbachhuber commented on #203
This was also ultimately necessary https://github.com/danielbachhuber/solr-demo-redux/commit/79489c375dcdad398a803a8efbc8d34a8f002e56

[2017-02-10 22:02] #163 closed

[2017-02-17 01:00] danielbachhuber opened #205 "Solr Power should only use orderby score when no other orderby has been specified"
WordPress has this internal logic we should be following too:

![image](https://cloud.githubusercontent.com/assets/36432/23048246/6e9c0e14-f469-11e6-85fb-eeb0357f04bf.png)

[2017-02-17 01:07] danielbachhuber commented on #205
The problem with the current behavior is that `orderby=>score` is applied to all use of `solr_integrate` with other WP_Query instances too.

[2017-02-17 18:05] danielbachhuber opened #206 "Only apply highlighting when Solr query is a search query"
In `SolrPower_API::master_query()`, the following should only be applied when the Solr query is a WordPress search query:

[code]

For non-search uses of Solr, it's unexpected to have `post_content` bolded with the search terms.

[2017-02-17 18:34] danielbachhuber commented on #205
Actually, this is incorrect. Solr Power correctly handles customized `orderby` parameters.

Taking a step back, the symptom was observed working on the [Solr Demo Redux site](http://dev-solr-demo-redux.pantheonsite.io/). Specifically, the movies are sorted by title on the index views (home, meta queries, etc.). When switching between MySQL and Solr, the list of movies would change, which isn't exp

[2017-02-17 18:47] danielbachhuber commented on #205
[According to the docs](https://wiki.apache.org/solr/CommonQueryParameters#sort) (via [this SO thread](http://stackoverflow.com/questions/7991885/solr-wrong-sort-text-fields)):

`post_title` is a `text_*` field and tokenized:

[code]

[2017-02-17 18:53] danielbachhuber commented on #202
New CLI output looks like this:

[code]

[2017-02-17 18:57] danielbachhuber opened #207 "SolrPower_Api::get_instance()->last_error->getMessage() can include poor output"
It would be nice if we pre-processed this HTML in some way:

[code]

From https://github.com/pantheon-systems/solr-power/issues/202#issuecomment-280735004

[2017-02-17 19:07] danielbachhuber opened #208 "Remove erroneous "Post Information is Null" message"
Seems to be random code:

![image](https://cloud.githubusercontent.com/assets/36432/23079319/4528dd12-f501-11e6-9ed4-044c501d1e3b.png)

[2017-02-17 20:12] joshkoenig commented on #205
It's quite possible that our default `schema.xml` could be improved. I can't think of a good reason why we have both `post_name` and `post_title` in there...

[2017-02-17 20:20] danielbachhuber commented on #205
They're different fields?

[2017-02-20 14:09] danielbachhuber opened #211 "wp_cache_flush() is called too frequently"
In `SolrPower_Sync`, `wp_cache_flush()` shouldn't be used as a part of the sync behaviors. Flushing the entire object cache can cause poor performance on large sites.

Instead, whatever the needed behavior is should happen in a more precise manner.

[2017-02-20 14:10] danielbachhuber opened #212 "Move `grunt jshint` to a separate build step"
To make it easier to see what part of the build is failing, it would be helpful to have `grunt jshint` in its own dedicated build step.

[2017-02-20 14:11] danielbachhuber opened #213 "Include attribution for original forked plugin"
Because Solr Power is a fork of the Solr for WordPress plugin (355ec725d0ae8ba35ee61371dd0bfaacb2ae5fd1), we need to add appropriate attribution.

[2017-02-20 15:08] harshadwebdunia opened #214 "Unable excludes Posts or Pages from solr"
When I tried to exclude an page using option provided by  plugin. It will not work.

[2017-02-22 17:15] taija commented on #41
We are moving several large wordpress multisite installations to Pantheon soon, and would love to be able to use Solr. Fingers crossed for multisite support soon!

[2017-02-23 15:23] ataylorme commented on #41
@danielbachhuber this would be a good candidate for work either before or after debug bar support.

@taija can you expand on how you plan on using Solr Power in those multisites?
* Will you be using search (native of the widget), `WP_Query` support or both? Which features of these items are important?
* What type of content will you be indexing?
    - post types
    - meta data
    - taxonomy data

[2017-02-23 15:28] taija commented on #41
@ataylorme - we would be using it as a drop-in replacement for WP search (native).

We would like to index post types and taxonomy data, in that priority order.

[2017-02-23 15:49] ataylorme commented on #41
@taija regarding:

As a user which would you expect to be the default?

[2017-02-23 16:12] taija commented on #41
@ataylorme - for us, we have built the expectation that search happens network-wide, as this works well for the type of content we have.

Ideally, this should be user-configurable on the Network Admin dashboard, but for us network-wide works great.

[2017-02-23 16:14] ataylorme commented on #41
@taija agreed - just looking for input on what the default would be. Also if we have to roll out one or the other first then iterate for support of both is a future release it's good to know which is more useful.

[2017-02-23 16:19] taija commented on #41
@ataylorme - from my perspective, network-wide search is the way to go.

1. It seems like, of the two, this may be easier to implement
2. This is functionality that WP Core is bad at

[2017-02-23 16:45] danielbachhuber commented on #41
I think it makes sense to keep the default behavior to that of `WP_Query`: query against the site's posts table.

We could reuse the existing `solr_integrate` query parameter to query against the network. However, there will be at least a couple challenges to be aware of:

1. `SolrPower_WP_Query` will need to perform some amount of `switch_to_blog()` to ensure posts are being pulled from the corre

[2017-02-23 17:21] ataylorme commented on #41
When `solr_integrate` is `true` `SolrPower_WP_Query` doesn't hit the database - it hits Solr directly so I don't thing getting content will be an issue. We'll probably want to add an item to the Solr index for site ID though. We can then use that when querying out to a specific site rather than the entire index.

I think the issue would be with `WP_Query` indexing. Perhaps with the batch indexing

[2017-02-23 19:23] ataylorme commented on #214
@harshadwebdunia can you provide more details?

* What version of the plugin are you on?
* Are you trying to exclude an individual page or an entire post type?
* Which option we're you trying to use?
* After updating the option did you delete the index and re-index items?

[2017-02-23 21:57] aayler opened #215 "WP admin search defaults to solr"
We recently upgraded to WP core 4.7.2 (from 4.6.1) and additionally upgraded solr-power to 1.0 from 0.6.

Following this, we're seeing that, without setting the "solr-integrate" parameter to true or using the "solr_allow_admin" filter hook, searches in our wp-admin (of custom post types, for instance) are using Sol, and returning thousands of results rather than the expect few ... any ideas on why

[2017-02-23 22:12] ataylorme commented on #215
@aayler So the front-end of the site is returning results as expected and the issue is only in the admin?

Just want to make sure I try reproduce in the appropriate place.

![screen shot 2017-02-23 at 4 11 40 pm](https://cloud.githubusercontent.com/assets/2133004/23281430/e54fa42a-f9e2-11e6-8c62-42d46ba5711d.png)

[2017-02-23 22:19] aayler commented on #215
hi @ataylorme, i appreciate the prompt response!

unfortunately, the site search is off as well, in terms of the weights (boost) we've placed on search results. in other words, in the frontend, the results are correct but not in the desired display order.

and yes, i am referring to the search in the admin highlighted by the red arrow in your image.

(and we've reindexed the site, which is giving

[2017-02-23 22:23] ataylorme commented on #215
Can you open a separate issue for that? Including details on what type of content you are indexing, which boosts are being used, etc. will  be useful.

Thanks for confirming. I'll try to reproduce.

Currently I would advise you to stick on `0.6` in production as we diagnose these issues. If you have another environment, like dev, you can work with me on these issues in that would be ideal.

[2017-02-23 22:27] aayler commented on #215
@ataylorme : thanks, will do re: site search issues.

we haven't pushed solr-power 1.0 to *live* yet, and in fact, we are working on a multidev testing env on pantheon ... what would be the best way to get in touch with you re: the site URL and credentials for you to review?

thanks again,

[2017-02-23 23:17] ataylorme commented on #215
Great - glad no possible bugs went live.

That's the ideal state :-). I don't like to assume anyone is on Pantheon, which is why I made a broad statement.

I'd like to keep troubleshooting public in GitHub issues if we can. Let's keep working here and if we get to a point where I need access to the site to debug we can chat directly.

We have a Solr site setup with a lot of content and I'm able to

[2017-02-24 01:06] danielbachhuber opened #217 "Add basic tests for SolrPower_Batch_Index"
At a minimum, we should test:

* [x] Index all posts in one process.
* [x] Resume indexing.
* [x] Restart indexing at the beginning.

From #204

[2017-02-24 15:24] aayler commented on #215
hi @ataylorme, thanks for the link to the PR, will test on our multidev and report back.

thanks again!

[2017-02-24 15:49] aayler commented on #215
@ataylorme : the fix works for wp-admin searches; however, i noticed that the search for items in the media library is broken -- should https://github.com/pantheon-systems/solr-power/blob/54f5cd54f73a8013f6596ebdc9b3b45b2ab05856/includes/class-solrpower-wp-query.php#L73 also be uncommented, as that's targeting the AJAX requests?

thanks,

[2017-02-24 16:00] ataylorme commented on #215
@aayler The problem is that our search widget in `1.0` uses `admin-ajax.php` so we need to allow Solr in that scenario.

I've got meetings this morning but will take a look this afternoon.

[2017-02-24 20:23] aayler commented on #215
hi @ataylorme : regarding the front end issue, we located the issue (for us) = https://github.com/pantheon-systems/solr-power/blob/1.0.0/includes/class-solrpower-api.php#L359 this call dramatically changes the order of our search results ...

is there a way to override or reset/unset those "hard-coded" values, ie, 'post_title^25 post_content^50'?

and a quick question re: that line -- on = http://

[2017-02-24 20:30] ataylorme opened #218 "Boosting hard-coded"
`post_title` and `post_content` boosts are hard-coded. Boosts should, at a minimum, be filterable.

See [class-solrpower-api.php#L359](https://github.com/pantheon-systems/solr-power/blob/1.0.0/includes/class-solrpower-api.php#L359)

@aayler can you provide more details on how you are boosting?

[2017-02-24 20:44] aayler commented on #218
Hi @ataylorme : we're using the setQueryFields method in the solr_query filter handler.

so something like = `$dismax->setQueryFields('post_title^2.5 tags^1.5');`

[2017-02-24 21:26] ataylorme commented on #215
Basically I disabled Solr in the admin or when admin ajax is being used by setting the `solr_allow_ajax` filter to false by default.

Then I apply filters before the widget runs and removes them after.

This has remove the issue searching custom post types and media but allowed the widget to still function in my testing.

@aayler can you test the updated PR on your multidev as well?

[2017-02-24 22:03] aayler commented on #215
@ataylorme 👍 , all looks good on my end.

thanks very much for your prompt and detailed support - very much appreciated!

[2017-02-24 22:04] ataylorme commented on #218
Just FYI the reason we set a boost to begin with is that when facets are used search results weren't really relevant. Adding a boost to title and content helped keep them relevant but _what_ is being boosted should be filterable.

[2017-02-24 22:16] ataylorme commented on #215
@aayler Awesome, glad to hear that. I'm going to open this back up until I can get a code review on the PR and we get it merged.

[2017-03-01 16:01] ataylorme commented on #218
@aayler can you test the changes in [946e0b12096a10d22bf3d56fd69cf24896895faa](https://github.com/pantheon-systems/solr-power/pull/219/commits/946e0b12096a10d22bf3d56fd69cf24896895faa) on your multidev?

You should be able to use the `solr_boost_query` filter to override the boost value of `post_title^25 post_content^50`.

[2017-03-01 16:23] #191 closed

[2017-03-01 17:04] ataylorme commented on #218
Make that the [latest changes in the PR](https://github.com/pantheon-systems/solr-power/pull/219/files)

[2017-03-01 17:10] #215 closed

[2017-03-01 17:58] aayler commented on #218
@ataylorme 👍  on our end re: filtering the `solr_boost_query`

thanks again!

[2017-03-01 19:24] ataylorme commented on #218
@aayler great! I'll ask for a code review and merge this in for `1.1`. Once we tag `1.1` I'll ping you for testing if that's okay.

[2017-03-01 19:31] ataylorme commented on #202
@danielbachhuber it scrolls pretty fast (screenshot below). Can we remove success messaged from the output and only show the items that encountered and error and batch information?

When things are going well I wouldn't see all the success messages and just the batch information with the nice summary which currently I have to back scroll to see since the output moves so fast.

![solr-power-wp-cli-

[2017-03-01 19:37] aayler commented on #218
@ataylorme : absolutely, please do; would be glad to help test.

quick note: https://github.com/pantheon-systems/solr-power/pull/219/commits/946e0b12096a10d22bf3d56fd69cf24896895faa works but
https://github.com/pantheon-systems/solr-power/pull/219/files does not

[2017-03-01 19:41] ataylorme commented on #218
Hmm okay, `946e0b1` with `setQueryFields` fails our unit tests for boosting but `boostFunctions` passes. Seems like you're seeing the opposite. I'll review the test.

[2017-03-01 21:20] danielbachhuber commented on #202
I'm 👎  on moving this information outright, because it's useful information in some cases.

You can also easily output to a log file, and then grep the log file for the results you're looking for.

I'd be open to a suggestion of a flag or two that'd control verbosity.

[2017-03-01 22:13] #217 closed

[2017-03-02 16:31] ataylorme commented on #218
@aayler can you test out https://github.com/pantheon-systems/solr-power/pull/219/files one more time?

This go around try:
1. setting the `solr_boost_query` filter to false, which will disable our boosting.
1. Hooking into the `solr_dismax_query` filter, which is new, and using `setQueryFields` on `$dismax`.

Something like:
[code]

[2017-03-02 16:32] aayler commented on #218
@ataylorme : thanks for the update, will test now and reconnect

[2017-03-02 16:55] aayler commented on #218
@ataylorme 🥇  looks good!

[2017-03-02 17:41] ataylorme commented on #202
Makes sense to me. Let's go with this as-is.

[2017-03-02 17:42] #202 closed

[2017-03-02 18:06] ataylorme commented on #218
@aayler awesome - glad this worked out for both the widget/our tests and your implementation.

I merged in the PR and am looking to cut `1.1` later this afternoon. If you can test the `master` branch on your multidev that would be much appreciated.

[2017-03-02 19:58] aayler commented on #218
@ataylorme : the vendor folder is empty in `master` and i'm seeing an error in a dependency = `vendor/autoload.php`, so the site's not loading ...

[2017-03-02 20:01] ataylorme commented on #218
@aayler ah sorry, I should have specified the Git repo is not built. You'll need to run `composer install` and `Grunt`. Alternatively I can email you a `.zip` of the built plugin if that's easier for you.

[2017-03-02 20:07] aayler commented on #218
@ataylorme : if it's not too much trouble, the .zip would be easier, thanks!

[2017-03-02 22:04] #218 closed

[2017-03-02 22:08] ataylorme opened #221 "Admin Options Not Saving"
Error message `Action failed. Please try again.solr_update` being received from the action tab.

[2017-03-06 16:06] ttrowell opened #224 "Custom fields not searchable/Exclude selected posts"
Overview:

1. We have added some of our custom fields "article_side_bar,subtitle" on the back end but unable to search on the basis of these fields.
Are custom data fields searchable?

2. How we can exclude some post type from indexing.
Also here I think: https://github.com/pantheon-systems/solr-power/issues/214

3. Unable to weight age (prioritize) the search fields like title, content etc.

4. A

[2017-03-06 17:11] ataylorme commented on #224
What version of the plugin is being used? I'll be assuming `1.0` or later.

Yes, custom fields are indexable/searchable. In addition to adding custom fields in the admin settings you can use the [solr_index_custom_fields filter](https://github.com/pantheon-systems/solr-power/wiki/Filters#solr_index_custom_fields). After updating the custom fields to index did you re-index?

Non-public post types a

[2017-03-09 10:47] AkshayMenariya commented on #224
Hi ataylorme,

Thank you for prompt reply. I am Akshay, ttrowell is created a issue for us. we are using WordPress "solr prower" plugin version  1.0.0.  I will try to index custom fields with the given filter and let you know, if it will work.

Thanks
Akshay

[2017-03-09 12:26] ataylorme commented on #224
Hi @AkshayMenariya,
Sounds good. Since you are on Pantheon test the filter in a [multidev environment](https://pantheon.io/docs/multidev/). Just know after creating a multidev you'll need to re-index Solr after applying the filter as the database gets cloned to the multidev but not the Solr index.

[2017-03-09 12:30] AkshayMenariya commented on #224
Hi ataylorme,

Solr is not reading custom search result template within theme "templates/solr-search-results.php". Also the custom fields are still not searchable.

I look forward to hearing from you soon.

Thanks
Akshay

[2017-03-09 13:23] AkshayMenariya commented on #224
Hi @ataylorme ,

How should i pass all the custom fields to the below filter, it should be an array or comma separated fields ? please let me know if is there any other data format need to return.

function filter_solr_index_custom_fields( $facet_on_custom_fields ) {
    $custom_fields = array('article_side_bar','subtitle');
    return $custom_fields;
}
add_filter( 'solr_index_custom_fields', 'fil

[2017-03-10 13:39] ataylorme commented on #224
Hi @AkshayMenariya,
Sorry for the delayed reply, I am currently traveling.

Returning an array will be best but the code can handle either. See [`includes/class-solrpower-sync.php`](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L182:L190)

Also make sure the post types are `public` and not `private` or something else. The posts themselves will also ne

[2017-03-10 13:51] ataylorme commented on #224
This template is used with the faceted widget. Are you using the widget? Your normal search template will be used for default WordPress search.

[2017-03-10 14:10] AkshayMenariya commented on #224
Hi @ataylorme ,

Thank you for reply. let me See includes/class-solrpower-sync.php class and will update you if it will work.

Thanks
Akshay

[2017-03-10 16:23] ataylorme commented on #224
@AkshayMenariya,
In your code snippet you should append items to the existing array, rather than overwriting it. That way default fields, like post title and content, aren't removed.

Example:
[code]

I've tested this as well as the custom post types successfully. We also have unit test coverage. See [`test-solr.php`](https://github.com/pantheon-systems/solr-power/blob/master/tests/phpunit/test-so

[2017-03-11 12:25] danilogiacomi opened #225 "How to index fields from acf "relationship" elements"
We are using the solrpower plugin to index some posts using ACF relations (relationship) and we'd like to index some fields from the related items along with the fields from the indexed item itself.
Any ideas on how to do that?

[2017-03-13 14:45] ataylorme commented on #225
Hi @danilogiacomi,
I just want to be sure I'm clear on what you are asking. If there is post *A* and has post *B* as an [ACF relationship](https://www.advancedcustomfields.com/resources/relationship/) you want to index some custom fields from post *B* on post *A*. Is that correct?

Indexing the relationship field itself should be pretty straight forward with the [`solr_index_custom_fields` filter]

[2017-03-14 11:52] AkshayMenariya commented on #224
Hi @ataylorme ,

Thanks for support, now i have customized your class " includes/class-solrpower-sync.php" to exclude post types and its working fine. I followed your give code & "build_document" function as well from " includes/class-solrpower-sync.php" file to index custom fields. I have checked with the "print & exit()" function, all the custom fields entered from the WordPress back end (comma

[2017-03-14 11:57] AkshayMenariya commented on #224
Hi @ataylorme ,

How i can use <a href="https://github.com/pantheon-systems/solr-power/blob/master/tests/phpunit/test-solr.php#L183:L205"><code>test-solr.php</code></a> to test solr custom fields. Can i see search debug result on the back end or something which is helpful.

Thanks
Akshay

[2017-03-14 14:04] ataylorme commented on #224
Hi @AkshayMenariya,

I would advice against editing the Solr Power plugin files directly. It is best practice to use the provided filters. If you change the plugin files directly the modification can be overwritten if you update the plugin in the future.

If the fields are showing up there they should be indexed. `test-solr.php` is our unit tests for the plugin and can't really be used to help wit

[2017-03-14 14:24] AkshayMenariya commented on #224
Hi @ataylorme ,

Thank you for quick response, I first tried with the filter but it didn't work so i have to customized the core plugin and it worked. Regarding custom field theme and plugin conflicts, i have deactivate all the plugins and testing it on the default twentytwelve WordPress theme but it didn't worked. Is there any way to debug the custom field issue?

I got your latest plugin version

[2017-03-16 14:07] AkshayMenariya commented on #224
Hi @ataylorme ,

Any update on my issue?

Thanks
Akshay

[2017-03-17 17:46] danielbachhuber opened #226 "Sticky posts in Solr queries"
Solr Power doesn't natively support WordPress' sticky posts feature. Maybe it should in the future for 100% WP_Query feature parity, but it would only be necessary if Solr Power was used for homepage (and potentially other index queries).

In the meantime, here's a rough summary of how I achieved sticky post parity for both WP_Query and Solr queries (this is run on the `pre_get_posts` hook):

[cod

[2017-03-17 20:08] ataylorme commented on #224
You can run [a direct Solr query](https://github.com/pantheon-systems/solr-power/wiki/Interacting-with-the-SolrPower_Api-class) to see if the fields you are looking for exist in the index.

[2017-03-17 20:23] #221 closed

[2017-03-20 23:49] danielbachhuber opened #229 "Consolidate calls to get_post_types()"
The following is called five times in the codebase:

[code]

Instead, it would be better to create `SolrPower::get_post_types()`, and have each instance call this method directly.

[2017-03-21 00:28] danielbachhuber opened #230 "Inconsistent user experience for submitting a schema"
When I repost schema.xml through the WordPress admin, I see:

![image](https://cloud.githubusercontent.com/assets/36432/24127502/5775041a-0d92-11e7-9ac0-555867d028c9.png)

When I repost schema.xml through WP-CLI, I see:

[code]

In both cases, I'd expect to be able to repost my schema.xml. If it's not technically feasible, I'd expect to see some better error message communicating what I should do

[2017-03-21 19:17] gtenaschuk opened #231 "Submit schema is not working in kalabox site"
I created a local site in kalabox and when i try to activate the plugin it is showing an error message

[2017-03-21 19:20] danielbachhuber commented on #231
Related #230

I think submitting a schema only works on Pantheon right now.

[2017-03-21 19:32] gtenaschuk commented on #231
I already did it @ataylorme, i have a symbolic link called `uploads` that points to the `files` folder created by kalabox and inside it i have the _`solr-for-wordpress-on-pantheon/schema.xml`_

[2017-04-07 14:16] ataylorme commented on #225
Hi @danilogiacomi,
There hasn't been any activity on this in some time so I'm closing the issue out. If you still have questions let us know.

[2017-04-07 14:16] #225 closed

[2017-04-07 14:17] ataylorme commented on #214
Hi @harshadwebdunia,
There hasn't been any activity on this in some time so I'm closing the issue out. If you still have questions let us know.

[2017-04-07 14:17] #214 closed

[2017-04-07 14:18] ataylorme commented on #186
Hi @amtbnagios,
There hasn't been any activity on this in some time so I'm closing the issue out. If you still have questions let us know.

[2017-04-07 14:18] #186 closed

[2017-04-07 14:19] ataylorme commented on #131
Hi @Paul7200,
Using the latest version of the plugin you should be able to query dates easily with `WP_Query`.

See [examples/example.custom_WP_Query.php](https://github.com/pantheon-systems/solr-power/blob/master/examples/example.custom_WP_Query.php)

[2017-04-07 14:19] #131 closed

[2017-04-07 17:50] ataylorme commented on #229
Closed via #234

[2017-04-07 17:50] #229 closed

[2017-04-07 20:41] michaelwdc opened #235 "Port # not displaying on SOLR Options > Info page"
This is on a non-Pantheon site (I'd love to put them on Pantheon, but they have their own hosting).

Its an easy fix.  On line 23 of views/options/info.php, change:

`<td><?php echo esc_html( getenv( $server_info['port'] ) ); ?></td>`

TO

`<td><?php echo esc_html( $server_info['port'] ); ?></td>`

[2017-04-07 21:55] ataylorme commented on #235
Hi @michaelwdc,
This was actually fixed in a [commit earlier today](https://github.com/pantheon-systems/solr-power/commit/d619b36d9d4c234bdddc1cb296cb1e15e69702aa).

Thanks to @gtenaschuk for catching it in the initial PR #233

It will ship out in our next version update to WordPress.org.

[2017-04-07 21:55] #235 closed

[2017-04-08 13:13] gtenaschuk opened #236 "Deleting all indexed documents when submitting schema"
I think that would be useful having an option to decide if you want to delete all indexed documents when submitting a new schema.
We have almost 200k posts indexed, and i want to add a new field to the schema, if i submit the new schema file, through the UI, i'm going to lose all my indexed documents in Solr and my search tool will stop working until i have all posts reindexed again (it takes some

[2017-04-10 22:46] danielbachhuber opened #238 "Fail all tests if Solr isn't running"
If WordPress can't connect to Solr, tests should fail before running.

Because some tests can pass when they fail back to WordPress, we should err early to prevent the developer from shipping code that works in WordPress but doesn't work against Solr.

[2017-04-11 14:52] mindofjonas opened #239 "400 Error when reposting schema.xml"
When attempting to repost a custom schema via the plugin options, the plugin returns the error **Schema Upload Error: 400**.

Environment: WordPress 4.7.3 running on PHP 5.5.5 on Pantheon Multi-dev.

[2017-04-11 17:36] joshkoenig commented on #239
We have some additional info in an internal ticket. I'll try to get relevant information surfaced here. We just released plugin version `1.1.0` but if we can reproduce this we should consider prioritizing a `1.1.1` bugfix release.

[2017-04-11 17:37] joshkoenig commented on #239
#### Steps To Reproduce:

1. Spin up WP 4.7.3 site
2. Enable Solr add-on
3. Enable Solr Power plugin
4. Push custom schema.xml to wp-content/uploads/solr-for-wordpress-on-pantheon dir
5. In WP site at Solr Options, attempt to repost schema.xml
6. Get error state, see screen capture: https://www.screencast.com/t/DBGFfwtC

[2017-04-11 17:39] joshkoenig commented on #239
@mindofjonas - would you be comfortable sharing your custom schema so we can review that?

[2017-04-11 17:52] mindofjonas commented on #239
@joshkoenig It was a simple test so it's the same default schema.xml included in the plugin with the `post_author` field commented out.

[2017-04-11 17:53] joshkoenig commented on #239
Ok thanks! We should be able to reproduce that.

[2017-04-11 18:17] danielbachhuber opened #240 "Clarify "Please enable Solr" error message on Pantheon"
![image](https://cloud.githubusercontent.com/assets/36432/24924039/4abb991a-1ea8-11e7-811e-66da9b4f3115.png)

When we're in the Pantheon environment, it would be more helpful to say "Please enable the Solr add-on".

[2017-04-11 20:21] danielbachhuber commented on #239
@mindofjonas In your test, did you remove this attribute from the `schema.xml` too (bottom of the file)?

![image](https://cloud.githubusercontent.com/assets/36432/24929014/58f1e316-1eb9-11e7-8184-f78aba2d92d3.png)

If I remove `<field name="post_author" type="string" indexed="true" stored="true"/>` and leave `<copyField source="post_author" dest="spell"/>`, then I see a 400 when I try to submit t

[2017-04-11 20:30] danielbachhuber commented on #239
For the error I saw, the actual Solr response is:

[code]

Maybe not the most helpful error message, but Googleable at least, I suppose.

[2017-04-11 20:33] mindofjonas commented on #239
Thanks, that was the source of the issue. It'd definitely be helpful if the plugin surfaced the full error for troubleshooting as in cases like this.

[2017-04-11 20:48] #239 closed

[2017-04-17 14:21] mindofjonas opened #244 "WP Query ignores post_type query_var"
When using the plugin with the default WordPress query it ignores restricting results by post_type. I've tested this on the WordPress search page using `?s=my-term&post_type=my-post-type`. Regardless of the post type set the query returns all post types.

[2017-04-17 17:16] danielbachhuber commented on #244
Thanks for the report, @mindofjonas. We'll take a look, and follow up when we know more.

[2017-04-17 18:11] mindofjonas opened #245 "BBPress bbp_has_topics() and bbp_has_replies() returning false"
In bbPress 2.5+ with WordPress 4.0+ the `bbp_has_topics` and `bbp_has_replies` functions assume that is_search() is true and that `s` is always set as part of the query. However, when using with the Solr Power plugin there are occasions where `s` is false or empty - causing no topics/replies to be returned.

An example is available [here](https://bbpress.org/forums/topic/bbp_has_topics-not-working

[2017-04-17 19:19] danielbachhuber commented on #245
@mindofjonas Just to clarify, are you working with BuddyPress or bbPress? The links you've included are to bbPress threads.

[2017-04-17 19:22] danielbachhuber commented on #245
I *think* this is what you're referring to:

![image](https://cloud.githubusercontent.com/assets/36432/25101268/6c856b88-2368-11e7-8e30-7fbbe38d97b5.png)

If so, it also should be addressed by #246

[2017-04-17 19:59] danielbachhuber commented on #244
@mindofjonas Can you apply the change in #246 and verify it fixes your issue?

[2017-04-17 20:14] #244 closed

[2017-04-18 14:19] mindofjonas commented on #244
Thanks that fixed it.

[2017-04-18 14:24] danielbachhuber commented on #244
@mindofjonas Great! This fix will go out in 1.2.0 with multisite support, hopefully in the next couple of weeks. Feel free to apply the change to your copy of the plugin as an interim fix.

[2017-04-18 14:26] mindofjonas commented on #245
@danielbachhuber thanks for catching that. The issue is tied to bbPress and I've updated the issue with the correct information. #246 causes `bbp_has_topics` and `bbp_has_replies` to return all posts - not just forum posts.

[2017-04-18 14:27] mindofjonas commented on #245
However applying #246 along with the [fix mentioned above](http://www.rewweb.co.uk/bbpress-wp4-fix/) solves the issue.

[2017-04-18 15:26] ataylorme commented on #245
Thanks for the update @mindofjonas - going to close this out since #246 was merged and will go out in the next release

[2017-04-18 15:26] #245 closed

[2017-04-18 16:05] #41 closed

[2017-04-19 18:20] mindofjonas opened #248 "Searching by author name?"
How would I implement a search for posts by author name using Solr Power? When using a default WP Query like`s=author-name` it will return both posts by that post_author and posts where the author's name appears in the post_title/post_content. However Solr Power returns only the later.

[2017-04-19 18:36] ataylorme commented on #248
@mindofjonas are you not seeing the results at all or are they lower in the search results?

Solr Power boosts `post_title` and `post_content`. See [`includes/class-solrpower-api.php`](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-api.php#L355:L365).

The boosted items are filterable via [`solr_boost_query`](https://github.com/pantheon-systems/solr-power/wiki/

[2017-04-19 22:18] mindofjonas commented on #248
@ataylorme it returns only posts where the author's name is explicitly included in the title or content.

I've tried using the boost filter as below but that doesn't return results by an author.
[code]
We were originally using a [filter](https://danielbachhuber.com/2012/02/07/include-posts-by-matching-authors-in-your-search-results/) on `posts_search` (credit goes to @danielbachhuber) that modifie

[2017-04-19 23:32] danielbachhuber commented on #248
I was able to get this to work, without the boost filter, by modifying `schema.xml` to include:

[code]

See #250

Just goes to show you can't ever outrun the code you've published on the internet ;)

[2017-04-20 01:18] mindofjonas commented on #248
Thanks for that. I saw your note on the documentation. On a related note, might be good to add notes for the `solr_boost_query` and `solr_dismax_query` into the Wiki as well.

[2017-04-20 01:18] #248 closed

[2017-04-21 02:10] pmercier-ubeo opened #255 "Search returns nothing even if there is data in solr"
Hi,
I'm having an query issue :

- When I index site, I get Completed indexing in 00:00:03 elapsed time (20 indexed, 0 failed) and I have values in Solr but I get everything at 0 in **Indexing Stats by Post Type**
- When I try a query, I get empty result. When I remove 'solr_integrate' => true, the query is ok and returns results.

So it is like if the plugin can push data but cannot retrieve it.

[2017-04-21 02:18] ataylorme commented on #255
Hi @pmercier-ubeo,
Are you using a custom post type or the standard WordPress `post`?

Also if you can provide your full `WP_Query` arguments that would be helpful.

Which version of the plugin are you using?

[2017-04-21 02:20] pmercier-ubeo commented on #255
Yes, but I tried with pages and posts. I get this error : RequestHandlerBase
org.apache.solr.common.SolrException: can not use FieldCache on multivalued field: post_title

[2017-04-21 02:22] pmercier-ubeo commented on #255
Here is the request :
`$args = array(
				'post_type'   => 'vdp_maladies',
				'post_status' => 'publish',
				'orderby'     => 'title',
				'order'       => 'ASC',
				'posts_per_page' => -1,
				'solr_integrate' => true
			);

$Query= new WP_Query($args);`

[2017-04-21 02:28] ataylorme commented on #255
org.apache.solr.common.SolrException: can not use FieldCache on multivalued field: post_title

Great, you are on the latest version! I'm not sure about the error message. I'll do some more research tomorrow. Are you using a custom `schema.xml`?

Is your post type `vdp_maladies` public? Solr Power will only index public post types by default. If it isn't public (and searchable) you can use the [`so

[2017-04-21 02:30] pmercier-ubeo commented on #255
Hi, I'm not using a custom schema.xml.
Yes, post type is public and data is indexed in Solr.
I change the limit to 20, same empty result.

Thanks !

[2017-04-21 02:31] ataylorme commented on #255
Are you running Solr on Pantheon or elsewhere? If somewhere else what version of Solr?

[2017-04-21 11:38] pmercier-ubeo commented on #255
Elsewhere, V 6.5

[2017-04-21 12:55] gtenaschuk commented on #255
@pmercier-ubeo
I'm not sure about that error message but, as you are not using `s` parameter in your query, empty results could be related with this line https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-wp-query.php#L332

Could you try adding a `s` attribute in your query and check if it works that way?

[2017-04-21 13:02] pmercier-ubeo commented on #255
I added a "s" attribute, still no results.

[2017-04-24 18:38] pmercier-ubeo commented on #255
Hi, any updates on this ? I can use Solarium directly without problem, but WP plugin does not seem to find data even if it is able to save it to solr.

[2017-04-25 13:29] ataylorme commented on #255
Hi @pmercier-ubeo,
Solr Power is tested on Solr `3.6`, which uses the `schema.xml` file. My guess is the configuration there isn't being applied as newer versions of Solr use a [schema API](https://cwiki.apache.org/confluence/display/solr/Schema+API).

We don't have access to an infrastructure with Solr `6.5` so cannot test. If you would like to submit the schema configuration via the API you may

[2017-04-27 12:58] danielbachhuber opened #264 "npm install fails on CircleCI"
See https://circleci.com/gh/pantheon-systems/solr-power/626

[code]

From #262

[2017-04-27 23:49] danielbachhuber commented on #85
🚢  :shipit: 🎉

[2017-04-27 23:49] #85 closed

[2017-04-27 23:56] danielbachhuber commented on #264
This issue fixed itself.

[2017-04-27 23:56] #264 closed

[2017-04-27 23:59] danielbachhuber opened #270 "Replicate WordPress' default search ordering behavior"
In a stock WordPress install, the default behavior is `orderby=relevance`. This is then interpreted to:

[code]

We should see if we can replicate this behavior in Solr, to make relevance ordering more consistent between Solr and native MySQL.

[2017-04-28 19:13] danielbachhuber commented on #270
https://core.trac.wordpress.org/ticket/7394 is the original ticket.

[2017-04-28 20:44] danielbachhuber commented on #270
@joshkoenig @ataylorme In #271, I have a solution that I don't love. I'm using the boost query feature of dismax to boost documents where the `post_title` has an exact string match.

Here's the MySQL query we're trying to replicate:

[code]

The implementation so far is:

* MySQL: Given the results, order them this way
* Solr: Boost different scores so we're getting similar results to MySQL

[2017-05-02 22:26] danielbachhuber opened #273 "post_content shouldn't be boosted over post_title"
Our current default dismax is:

[code]

This would be better as something like:

[code]

[2017-05-04 18:24] #270 closed

[2017-05-07 08:27] Japhys commented on #255
Having the same issue. Clean LAMP, Solr and WP install. Everything installs and works fine. Data is being indexed. No search results though. Might try it on 3.6. Hopefully this will work on 6.5 as well soon.

[2017-05-08 22:23] danielbachhuber opened #274 "SolrWPQueryTest::test_wp_query_failed_ping fails intermittently on Travis"
We should figure out why, and fix it.

From https://github.com/pantheon-systems/solr-power/pull/249#issuecomment-299972397

[2017-05-10 14:24] mindofjonas commented on #245
A follow up to this in case someone else runs into this issue. After testing Solr Power with a large BBPress site (12,000+ replies/posts) I noticed major slow downs on the individual forum and topic pages.

The solution is to set `s` to **NULL** in the query args for `bbp_has_topics` and `bbp_has_replies` via either a filter or within the template files (see below).
[code]

[2017-05-16 23:56] danielbachhuber commented on #231
@gtenaschuk Did you get this worked out?

[2017-05-16 23:58] danielbachhuber commented on #190
As it turns out, this literally was already in the plugin:

![image](https://cloud.githubusercontent.com/assets/36432/26132982/b7dbd80e-3a58-11e7-8146-11e6b00ab609.png)

It only appears when Solr was used for the WP_Query though.

@ataylorme Any improvements you can think of, or should we punt this issue?

[2017-05-16 23:59] danielbachhuber commented on #255
Hey @pmercier-ubeo @Japhys

We're only supporting Solr 3.6 for the foreseeable future, which is available as turnkey infrastructure on Pantheon.

[2017-05-16 23:59] #255 closed

[2017-05-17 00:57] #238 closed

[2017-05-17 01:02] #208 closed

[2017-05-17 01:03] #273 closed

[2017-05-17 18:11] #192 closed

[2017-05-18 14:27] #213 closed

[2017-05-18 16:02] danielbachhuber commented on #230
As it turns out, I only experienced this because I had set `putenv( 'PANTHEON_ENVIRONMENT=local' );` locally.

Regardless, #282 is still useful because it ensures the AJAX action also errors correctly.

[2017-05-18 16:11] danielbachhuber commented on #189
In thinking about this, this will be incorrect on multisite unless we query across all blog tables (which is unrealistic). We should only implement this for single site.

[2017-05-18 17:56] #199 closed

[2017-05-18 18:00] #240 closed

[2017-05-18 21:54] #230 closed

[2017-05-19 20:03] gabehammersmith opened #284 "Media Library search fails in "grid view" with solr-power enabled"
Steps to reproduce:

1. Add media, enable solr-power, create index
1. Search for a known string existing in the media library in the default "grid" view

Expected outcome:
- Results returned

Actual outcome:
- "No media files found."

Workarounds:
- Clicking the "list view" icon returns the expected results.

[2017-05-22 13:11] danielbachhuber commented on #284
Thanks for the report, @gabehammersmith!

Out of curiosity, would you expect Solr Power to override media library queries when enabled, or no?

[2017-05-22 14:29] gabehammersmith commented on #284
@danielbachhuber - Interesting question. I believe a compelling case could be made for either option.

I've never installed Solr to solve a media library query problem, so I think my answer would be that I view the override as a (potentially positive) side effect.

[2017-05-22 17:49] danielbachhuber opened #285 "Permit users to opt-in to using Solr Power in the WordPress admin"
Solr Power can provide a huge performance boost when it overloads frontend use of `WP_Query`.

However, when a user has Solr Power enabled on the frontend, the backend users can still experience MySQL slowness.

It would be helpful of Solr Power users could easily enable Solr Power for backend uses of `WP_Query`.

This may be opt-in behavior or default behavior, depending on how "simple" of an int

[2017-05-22 23:41] danielbachhuber commented on #284
Thanks @gabehammersmith

@ataylorme I've been able to reproduce this bug, and tracked it down to cbb6b1daa9430419751df5a6d6704ccefdba9af2

When `DOING_AJAX`, `is_admin()` is always true, so the current set of conditionals in the `setup()` method is buggy. Solr is always used for admin ajax requests. My apologies for not spotting this sooner.

I think we need to revert that changeset, and some of t

[2017-05-25 18:56] ataylorme commented on #284
@danielbachhuber I personally favor the second option as it's cleaner than using admin ajax on the front end.

@joshkoenig do you have an objection to bumping the WordPress minimum supported version up to `4.4` and above?

[2017-05-26 17:38] arthurCormack opened #288 "recency score"
Does solr-power have the ability to make a query to solr, and adjust the rankings/score of the results based on the age/recency of posts that are indexed? ie, ranking giving newer posts a higher ranking score.

[2017-06-05 16:25] ataylorme commented on #284
@joshkoenig bump - related to #285. Can you weigh in on using the REST API and bumping the minimum version to `4.4`?

[2017-06-08 12:52] danielbachhuber opened #290 "Update Solarium to 3.8.1"
3.8.1 is the latest release https://github.com/solariumphp/solarium/releases/tag/3.8.1

Is there a reason we're pinned to 3.6.0?

[2017-06-15 16:57] joshkoenig commented on #284
+1 for this. We don't have a huge install base and I'm more interested in supporting forward-looking users than maintaining backwards compatibility with legacy installs that aren't doing major point-release updates. ;)

[2017-06-17 16:10] rdanamcd opened #293 "Solr Boost Query for Custom Fields"
I see the filter: apply_filters( 'solr_boost_query', 'post_title^25 post_content^50' ) to change the $solr_boost_query for the main post fields.

How can I, if possible, to apply solr_boost_query to Custom Fields. Use the meta_key name? Would that work?

Thanks
Dana

[2017-06-17 18:09] rdanamcd opened #294 "Keyword search in Custom Fields"
I would like to duplicate a keyword search in custom fields if possible. Search for "foo bar" and will find a meta_value containing "At a bar".

In wp_query this is not possible. To do this you would have to include a meta_key twice in the query:
`args = array(
   'meta_query' => array(
          'relation' => 'OR',
          array(
               'key' => 'metakey1',
               'value' => 'fo

[2017-06-19 16:51] kshaner commented on #41
With the 1.2.0 release is it possible to do a network wide search or does this only support indexing single sites?

Looking through the commits I couldn't find a way to pass the blogid param to the `SolrPower_Api->master_query` method.  Setting blog_id inside the function to false allows the network wide search.

Is this something that is in a future release or am I missing a way to handle this?

[2017-06-19 17:17] danielbachhuber commented on #41
It's possible to index all sites on the network, but the plugin only supports searching each site individually because of the reasons communicated in https://github.com/pantheon-systems/solr-power/issues/41#issuecomment-282048749

It probably won't ever be officially supported in the plugin. If this is for a Pantheon site, you're welcome to reach out through your account dashboard and we'll talk y

[2017-06-19 17:37] kshaner commented on #41
It is for a pantheon site, but locally at the moment and as a proof of concept.  I've found some ways to do it by modifying the solarium object through the `solr_query` filter.  I'll work through it or use the account dashboard.

[2017-06-19 18:42] danielbachhuber commented on #41
@kshaner Sounds good. Feel free to open a new issue in this repo if there are additional filters, etc. that it would be useful to have.

[2017-06-19 23:42] danielbachhuber commented on #294
Hi @rdanamcd:

It's hard to say without being able to test and reproduce. Generally though, Solr Power follows WordPress core behavior. If something is possible with WordPress core, then we can replicate the behavior in Solr Power. Otherwise, it's likely outside scope of the plugin.

Have you considered opening a core Trac ticket about this? It seems like the underlying change would be relatively

[2017-06-19 23:46] danielbachhuber commented on #288
@arthurCormack Sorry for the late reply. Were you able to work out a solution for this?

If you haven't yet, I'd suggest looking at #272, specifically:

[code]

Using a sort query lets you boost specific results based on different attributes.

[2017-06-19 23:51] danielbachhuber commented on #293
This seems like it should work, unless it's not something Solr supports.

Meta keys are registered using dynamic fields. For a meta field of 'price', the name would be `price_str`

[2017-06-19 23:51] #293 closed

[2017-06-19 23:52] #231 closed

[2017-06-26 21:53] #284 closed

[2017-06-26 21:53] #285 closed

[2017-06-29 16:25] ataylorme commented on #108
I'd like to revive this with a more simplified approach.

Currently the operator choices of `OR` and `AND` are global, applying to both the search results and the facet widget.

I'd like to propose adding a new option in the admin settings to change the facet widget specific operator, with a default to `AND`.

This would keep the expected behavior of `OR` for search but update faceting to the expe

[2017-07-03 19:17] ataylorme commented on #284
@gabehammersmith can you test the fix in the `1.3` version of [Solr Power](https://wordpress.org/plugins/solr-power/)?

[2017-07-07 18:21] gabehammersmith commented on #284
Confirmed working. Thanks all!

[2017-07-07 18:27] ataylorme commented on #284
Great - thanks for reporting and testing @gabehammersmith

[2017-07-09 13:57] rdanamcd commented on #294
Thanks. I've worked around not needing to search the same meta-key twice in one query.

Appreciate it.

[2017-07-09 13:57] #294 closed

[2017-07-09 20:48] rdanamcd opened #298 "Issue with orderby = meta_value_num"
Ordering the results by meta_value_num does not work for me when using Solr.

Example query:
$query_args = array( 'orderby'=>'meta_value_num', 'meta_key'=>'custom_number_field');

Everything is fine until function parse_orderby(...) in class-solrpower-wp-query.php line 272. On line 339 in the switch( $orderby ) case 'meta_value_num' it sets the $orderby_clause to "{$primary_meta_query['alias']}_i}

[2017-07-10 16:48] danielbachhuber commented on #298
Thanks for the report, @rdanamcd.

It looks like the change came in a massive changeset, so it's hard to say what the original intent might be: 1671472370e250c371818109750db3bf8b8b1a19

I added a test case to reproduce the failure in d7826b93da49cb237d84879eb74cb5550a3b30ec

The change you suggest doesn't seem to pass the test though:

![image](https://user-images.githubusercontent.com/36432/28029

[2017-07-10 16:54] danielbachhuber commented on #298
Test case was buggy :) 985dff4e4c829db3eb726dc0756e11ddb9653924

[2017-07-10 16:57] #288 closed

[2017-07-10 18:20] #298 closed

[2017-07-11 13:43] mindofjonas opened #301 "Solr Power conflicts with ACF Pro post object fields in admin"
When using Solr Power with Advanced Custom Fields' post object field - all results are not being returned despite there being matching post objects to show. Since ACF's post object field uses AJAX to power its UI, I've tested using the `solr_allow_ajax` filter on it's query without success.

[2017-07-11 13:45] danielbachhuber commented on #301
Hi @mindofjonas,

To confirm, are you using Solr Power v1.3.0?

[2017-07-11 15:09] mindofjonas commented on #301
I was using Solr Power v1.2.0. Updating to v1.3.0 seems to have fixed it

[2017-07-11 15:09] #301 closed

[2017-07-11 16:16] danielbachhuber commented on #301
Great! The actual fix was #295

[2017-07-17 19:25] #290 closed

[2017-07-22 08:27] eabquina opened #304 "Indexing via WP Cron run"
It would be great if there is a config option to enable index along with WP-Cron run

[2017-07-24 13:37] danielbachhuber commented on #304
Thanks for the suggestion, @eabquina.

This is an interesting idea — can you share more about the intended use-case? Solr Power currently indexes in an "on-demand" manner, meaning a post is added or updated in the index when it's modified in the admin. In what ways does this current behavior not work for your needs?

[2017-07-26 14:44] eabquina opened #305 "Widget Error when pressing "Reset""
Facet is placed in the homepage with all the filters already placed:
A reset button appears with a link and url that seems to be giving out an error

`Warning: htmlspecialchars_decode() expects parameter 1 to be string, array given in /srv/bindings/f05e4ae0e26944f29b76410c974d5f49/code/wp-content/plugins/solr-power/includes/class-solrpower-wp-query.php on line 421`

http://dev-impactevals.pantheon

[2017-07-27 19:00] tmulry opened #306 "doubling up on facet search parameters leads to invalid options data state"
I am able to put the plugin into an invalid state by putting the same facet word twice in the "Custom fields as Facet " field
1. goto plugin settings -> Facet Options
1. enable 'taxonomy as facet' and enter "status,status" in the Custom fields as Facet field.
1. save changes

The settings Page loads with a stack trace in the stats section.  I needed to clear out the `plugin_s4wp_settings` option d

[2017-07-28 12:42] danielbachhuber opened #308 "Fix WPCS failures for v0.12.0"
WPCS v0.12.0 came out, and introduced a number of failures we had to ignore #307. We should clean those up.

[2017-07-28 12:52] danielbachhuber commented on #306
Thanks for the report, @tmulry. Fixing this up in #309

[2017-07-28 13:08] danielbachhuber commented on #305
Thanks for the report, @eabquina. Cleaning up the query string, here's what I see:

[code]

I tried to reproduce by:

### 1. Creating two test posts assigned to two different test users

![image](https://user-images.githubusercontent.com/36432/28718404-970008a4-735a-11e7-8211-0022edf4792d.png)

### 2. Searching for "Testing" and faceting to both authors.

![image](https://user-images.githubusercon

[2017-07-28 14:02] #306 closed

[2017-08-02 14:21] tmulry opened #310 "Creating a facet on repeater fields"
If I have a post type with custom repeater fields(from the advanced custom fields plugin), what field labels should I enter to make a on individual entries in those fields?  e.g. Say each post has an "authors" repeater field with one or more pairs of  ["name","specialty"] fields.  If I do a custom facet on "authors", I get a facet that filters on the _array index_ of entries in the authors field.

[2017-08-13 16:08] jedkcanderson opened #311 "`Index custom fields` setting requires exact matches"
The `Index custom fields` setting allows users to add keys that should be added to the Solr index by naming the field keys directly.  This works great for simple fields added by ACF and other plugins that contribute additional fields to WordPress.

However, ACF allows for flexible content which contributes fields with keys that contain number, for example: ```programming_flex_content_2_programming

[2017-08-14 16:58] danielbachhuber commented on #311
Replied in https://github.com/pantheon-systems/solr-power/pull/312#issuecomment-322246470

[2017-08-14 21:05] jedkcanderson commented on #311
Continuing the discussion started in #312 here.

ACF stores it's extra field data in the meta table using two keys for each piece of data you append.  One of the keys you don't want because it's just the glue that holds things together the value is usually something like `field_82938523`.

ACF supports a concept of a flexible content area where developers set up a list of available data types and

[2017-08-14 21:10] ataylorme commented on #311
We have [an action for indexing being finished](https://github.com/pantheon-systems/solr-power/blob/ab406f0d918916f18d3238e9c9fa2ea170d92a69/includes/class-solrpower-sync.php#L652).

I think we if add an action for indexing start you could hook into that action, do the analysis, add the filters and then remove the filters again in the `solr_power_index_all_finished` action.

What are your thoughts

[2017-08-14 21:24] jedkcanderson commented on #311
Thinking about his more, maybe a different hook would make sense.  I'm going to end up querying the database for all of the documents that are being indexed.  That feels like we're duplicating work.

What about adding a filter like `solr_power_should_index` which takes a callback that accepts post data and a field name?  That way I can do my logic inline.

[2017-08-15 14:23] tmulry commented on #310
It looks like https://github.com/pantheon-systems/solr-power/issues/311 is a better enscapsulation of the same issue.   Closing this one out.

[2017-08-15 14:23] #310 closed

[2017-08-15 17:27] ataylorme opened #313 "Solr ping fails when WordPress core is in a subdirectory"
Putting WordPress core in a `wp` subdirectory ([see this codex article](https://codex.wordpress.org/Giving_WordPress_Its_Own_Directory)) causes Solr pings to fail.

Tested on Pantheon with nested docroot and Solr Power `1.3.0`.

[code]

![screen shot 2017-08-15 at 12 27 00 pm](https://user-images.githubusercontent.com/2133004/29327546-24318280-81b5-11e7-8768-d3e7eb58757c.png)

[2017-08-15 23:17] danielbachhuber commented on #311
Another idea to throw into the mix: save all of the post meta keys to an option, and the filter this option value onto Solr Power settings.

Here's some non-functioning code to illustrate the idea:

[code]

I still think always filtering `solr_index_custom_fields` is the way to go, because we can ensure that filter will be fired every time we reference the custom fields.

The advantage to storing

[2017-08-16 15:31] #313 closed

[2017-08-17 18:50] rdanamcd commented on #180
I needed 'post__in' and 'post__not_in' queries. I did some simple modifications to the code to implement these two  ( but I'll have to update "class-solrpower-wp-query.php' each time though until fully integrated ).

For 'post__in' & 'post__not_in' I added it to variables $whitelist and $convert to the function "build_query" in "class-solrpower-wp-query.php". 'post__in' worked automatically. For '

[2017-08-17 18:53] ataylorme commented on #180
@danielbachhuber if you could take a look at this when you have time and open a proper PR with some tests that would be great

[2017-08-23 11:35] ocean90 opened #317 "Multisite: Wrong menu highlighted after running an action"
After clicking an action button on `/wp-admin/network/admin.php?page=solr-power#top#solr_action` you get redirected to `/wp-admin/network/settings.php?page=solr-power#top#solr_action` and the "Settings" menu is highlighted.

<img width="426" alt="solr" src="https://user-images.githubusercontent.com/617637/29613749-b812abc0-8807-11e7-99ac-454cdb884b17.png">

[2017-08-23 13:13] danielbachhuber commented on #317
Thanks for the report @ocean90. We'll get this fixed.

[2017-08-23 16:25] eabquina commented on #304
hi @danielbachhuber  -- thanks for telling that it was actually working as "on-demand"!

the use case is the choice to not make it on-demand, and rather a scheduled way for a user think necessary. It could be such a busy site (a lot of editors, multiple authors etc,) that this could help in some way with performance.

Also, there will be a case where we want to re-index the whole site, and if it s

[2017-08-24 00:34] danielbachhuber commented on #304
Hm. I'm not sure this would actually help with performance in a meaningful way. Submitting updated documents to the index isn't a very costly operation and only happens once during the saving process. As a percentage of time associated with the standard WordPress update user experience, submitting a document to the index is quite small.

You're welcome to implement this on your own. I'm not sure i

[2017-08-28 12:36] ocean90 commented on #189
Just noticed this as well, I suggest to hide this on the settings page in the network admin.

[2017-08-29 21:10] jedkcanderson commented on #311
Following up on this discussion, we have proven that the above approach can work.  Thanks!

[2017-09-06 16:59] jedkcanderson commented on #311
We went down a complicated caching path and then circled back and realized we can solve this much easier if the ```apply_filters( 'solr_index_custom_fields', $plugin_s4wp_settings['s4wp_index_custom_fields']);``` call in `SolrPower_Sync::build_document()` is changed to ```apply_filters( 'solr_index_custom_fields', $plugin_s4wp_settings['s4wp_index_custom_fields'], $post_info->ID );```  I really li

[2017-09-08 21:59] JamesJosephFinn opened #322 "Single quote ' breaks search"
A search which includes a single quote ' character (as you would use in possession, for example) returns null.

https://www.cloudchemistry.co/?s=Dragon%27s+breath

[2017-09-08 22:05] JamesJosephFinn commented on #322
Furthermore, searching for "dragons breath" without the single quote returns the exact match result mid-page:

https://www.cloudchemistry.co/?s=Dragons+breath

[2017-09-15 13:58] rdanamcd opened #323 "WP User Query"
Any future plans to solr_integrate on the WP User Query?

Just curious.

Thanks
Dana

[2017-09-15 15:21] rdanamcd opened #324 "Searching for Negative Values in Meta Query"
I have a meta_query that is working fine with solr_integrate=false but does not work with solr_integrate=true.

I did some digging and found what I think may be the issue. My meta_query is as follows:
`'meta_query' => array(
	array(
		'key'	=> ‘meta_key_name’,
		'value'	=> 1,
		'type'	=> 'numeric',
		'compare' => '!='
	),
	array(…)
)`

This issue is I have a lot of records with the "meta_key_name"

[2017-09-16 20:12] jedkcanderson commented on #311
Would somebody have some time to discuss this with me this coming week?  Sept 17-24?

[2017-09-17 16:05] danielbachhuber commented on #311
@jedkcanderson Yep, happy to (just getting back online after vacation).

[2017-09-21 23:31] danielbachhuber opened #325 "Use Composer Lock Updater to keep composer.lock up-to-date"
See README.md for usage: https://github.com/danielbachhuber/composer-lock-updater#composer-lock-updater

[2017-09-26 11:45] sabdullah98 opened #326 "Plugin page menu tab not working"
Tabs on menu page not working after Ping is successful however if ping fails then tab starts working.

![solr1](https://user-images.githubusercontent.com/11044765/30858598-fa3a737a-a2dd-11e7-8725-da353a98ab24.png)
,
also even after succesful ping, as tabs are not workig, i tried WP-CLI and executed this command `wp solr index --allow-root
` all my product says `Failed to index '<product name>' (19

[2017-09-26 18:33] danielbachhuber commented on #326
Hi @sabdullah98,

Thanks for the report.

Are there any JavaScript errors in your console that you can share?

Could you share more details about your Solr configuration?

[2017-09-26 21:00] ataylorme commented on #322
Thanks for the report @JamesJosephFinn - we'll try to reproduce and see if we can find the source of the issue.

[2017-09-27 07:57] sabdullah98 commented on #326
`Tabs on menu page not working after Ping is successful however if ping fails then tab starts working.`
Here is the console screenshot of the page
![solr2](https://user-images.githubusercontent.com/11044765/30901984-5f671aec-a387-11e7-9643-e05b3060abc9.png)
Wordpress version 4.8.2 also tested on 4.6, same issue.

[2017-09-27 23:36] #317 closed

[2017-09-28 00:37] #322 closed

[2017-09-28 05:21] sabdullah98 commented on #326
@danielbachhuber Any update on this Daniel?

[2017-09-28 11:54] danielbachhuber commented on #326
I can't reproduce this issue locally:

![solr](https://user-images.githubusercontent.com/36432/30964977-6c406e54-a408-11e7-8a5d-63394bd18e1b.gif)

Thinking through the console error:

* `replace` is used a couple times at the top of `admin.min.js`. Here's the uncompressed source: https://github.com/pantheon-systems/solr-power/blob/1.4.0/assets/js/src/admin.js#L3
* `replace` is contingent on `input

[2017-09-30 09:00] sabdullah98 commented on #326
I am getting this PHP Fatal error
[solr-power error.txt](https://github.com/pantheon-systems/solr-power/files/1346283/solr-power.error.txt)

[2017-10-02 14:26] danielbachhuber commented on #324
It's hard to say from the original commit :( 1671472370e250c371818109750db3bf8b8b1a19

This seems like a reasonable assumption to me.

[2017-10-02 14:27] danielbachhuber commented on #323
No plans at this time. Given a user schema would be quite different than a post schema, I think it would be somewhat difficult to reconcile the two.

If you need to search users with faceting, one approach would be to create a hidden "User" CPT that mirrors user data.

[2017-10-02 14:27] #323 closed

[2017-10-02 19:05] aayler opened #329 "Exception during suggester query"
Hello,

We're trying to implement the Suggester query by following the sample included in `suggester-query.md`.

Our method =
[code]
However, an exception is thrown =
[code]

Any suggestions?

[2017-10-03 12:53] danielbachhuber commented on #326
@sabdullah98 The fatal error you reported and then deleted will be fixed in #328

Generally, I think there's something wrong/incompatible with your Solr instance.

[2017-10-03 12:53] #326 closed

[2017-10-03 13:03] danielbachhuber commented on #329
Hi @aayler,

Thanks for taking the time to file a report.

Where is this document? I'm not sure exactly where this is.

`<rimshot />`

I'm not 100% sure suggestions are available in Solr v3.6, which is what Pantheon is running. The exception indicates it's hitting a 404, which would mean the endpoint isn't responding.

Can you share more detail about your path to this point?

[2017-10-03 13:05] danielbachhuber commented on #311
@jedkcanderson How'd this turn out for you?

[2017-10-03 13:06] #305 closed

[2017-10-03 13:06] #304 closed

[2017-10-03 13:07] #224 closed

[2017-10-03 15:57] jedkcanderson commented on #311
@danielbachhuber We got this working, however it requires passing in the post ID when you call `apply_filters( 'solr_index_custom_fields' ...)`.  My question is how is `SolrPower_WP_Query::parse_meta_query()` used elsewhere in the system because the post ID isn't always available.

[2017-10-04 14:43] kshaner opened #330 "Docker Install Available"
For anyone that is working with Docker or wants a simpler way to work with a solr index (especially on Windows) that will eventually go up on Pantheon, I've made a simple docker container to get you up and running locally based the bash script in this repo.

https://hub.docker.com/r/kshaner/solr/

Hopefully this helps anyone.

[2017-10-04 16:10] aayler commented on #329
Hi @danielbachhuber,

I appreciate your note, thanks for taking the time to review this.

The .md file was bundled in the solr-power vendor folder = `solarium/docs/queries/` (also https://solarium.readthedocs.io/en/stable/queries/suggester-query/)

It seems the Suggester class is available for Solr 3.6.1 (https://lucene.apache.org/solr/3_6_1/org/apache/solr/spelling/suggest/Suggester.html) -- is t

[2017-10-04 16:14] aayler commented on #329
The call stack at exception:
[code]

[2017-10-04 16:23] aayler commented on #329
In Solr 6.6 (https://lucene.apache.org/solr/guide/6_6/suggester.html), apparently, there are configurations to `solrconfig.xml` that are necessary for the suggest functionality. Could it be that, Pantheon, running 3.6, and without user access to `solrconfig.xml` does not support this?

[2017-10-04 16:23] ataylorme commented on #330
This looks great, thanks for sharing @kshaner!

You might also want to take a look at [the Solr Docker image Kalabox maintains](https://hub.docker.com/r/kalabox/pantheon-solr/).

They have images for our app servers as well if you want to run everything in Docker.

[2017-10-04 19:31] danielbachhuber commented on #330
These would be great for the README :) #331

[2017-10-04 19:32] #330 closed

[2017-10-04 19:37] danielbachhuber commented on #329
Good find. I don't know personally, so I'll ping internally.

[2017-10-07 22:18] danielbachhuber commented on #311
@jedkcanderson Oh. Although it works for your use case, I'm still not quite sure that passing the post ID to `apply_filters( 'solr_index_custom_fields' ...)` is the correct solution to the problem.

The expectation is for the custom fields in the index to be _global across the entire system_, not customizable on a post-by-post basis. The latter implies the keys can vary between posts and doesn't e

[2017-10-07 22:18] #311 closed

[2017-10-07 22:51] danielbachhuber commented on #329
@aayler The person I pinged didn't know off the top of his head.

I tried your code on a test Pantheon site and received the same error:

![image](https://user-images.githubusercontent.com/36432/31312382-691e72aa-ab8f-11e7-908a-45123c9e55d8.png)

Here's my test code:

[code]

I've opened a support ticket to route the question to the proper person, and requested they weigh in with greater detail on

[2017-10-09 12:40] danielbachhuber commented on #329
I've heard back from support, who confirmed that the Suggester component isn't available. He suggested considering an external Solr provider (e.g.  IndexDepot, Opensolr, GotoSolr) if it's a requirement for your project.

[2017-10-09 12:40] #329 closed

[2017-10-09 15:15] aayler commented on #329
thanks @danielbachhuber, i really appreciate your taking the time to follow up. will review your suggestions.

thanks again!

[2017-10-09 16:56] #324 closed

[2017-10-11 16:56] DaveyJake opened #334 "Ability to Specify Custom Taxonomies to Index"
While there is the option to index custom fields, I do not see a mean to index custom taxonomies.  If there something I'm overlooking or is this feature not yet available?

[2017-10-11 17:03] danielbachhuber commented on #334
Hi @DaveyJake,

All custom taxonomies are indexed by default. Custom fields require admin UI because the user needs to opt-in to which fields should be indexed (because some fields may have private data). Taxonomies have a better permissions system and can be indexed by default.

Is there some issue you're running into that I can help debug?

[2017-10-11 20:32] DaveyJake commented on #334
Hi @danielbachhuber,

For displaying widget facets, I only need to 3 taxonomies and their children displaying in the same manner as `Categories` and `Tags` are when enabled.  Is there a `filter` of some kind that I can utilize in my theme?  I did not see one available pertaining to custom taxonomies on the <a href="https://github.com/pantheon-systems/solr-power/wiki">`Solr Filters Wiki`</a> page.

[2017-10-11 21:03] danielbachhuber commented on #334
What happens when you check the "Taxonomy as Facet" option in "Facet Options"?

![image](https://user-images.githubusercontent.com/36432/31466700-027dbb72-ae8d-11e7-912f-a1b8580483cd.png)

[2017-10-12 00:20] DaveyJake commented on #334
Here are my settings:

<img width="524" alt="screen shot 2017-10-11 at 6 10 56 pm" src="https://user-images.githubusercontent.com/826532/31473165-02306bb0-aeb0-11e7-8bf4-d4f2748de813.png">

Here is what I get on the front-end:

<img width="268" alt="screen shot 2017-10-11 at 6 10 22 pm" src="https://user-images.githubusercontent.com/826532/31473174-0e499ffc-aeb0-11e7-87cb-35b5501fbb21.png">

Addit

[2017-10-12 00:56] danielbachhuber commented on #334
@DaveyJake I'm not sure I fully understand what you expect out of Solr Power.

My understanding is that you currently see the Categories and Tags taxonomies appearing in your faceting widget. You _expect_ to also see the custom taxonomies you've registered.

Is this a correct understanding? If it is, can you share the code you've used to register your custom taxonomies?

If my understanding isn't

[2017-10-12 04:01] DaveyJake commented on #334
You are correct: **I do expect to also see the custom taxonomies I've registered--all of which are publicly _queryable_.**

The custom taxonomies that I have registered are `Gender`, `Division` and `Region`.

Here's a mock-up of what I want to see.

<img width="354" alt="screen shot 2017-10-11 at 9 54 09 pm" src="https://user-images.githubusercontent.com/826532/31478658-33f2b620-aecf-11e7-9cb4-ab4

[2017-10-12 13:04] danielbachhuber commented on #334
Yep, I was able to reproduce the issue. I've identified a fix in #335

[2017-10-12 15:24] #334 closed

[2017-10-12 15:30] danielbachhuber opened #336 "Refactor query filtering to use 'posts_pre_query' filter introduced in WP 4.6"
Originally https://github.com/pantheon-systems/solr-power/pull/300#issuecomment-314176820

Notably, `'fields'=>'ids'` won't work for `WP_Query` until this is complete because `WP_Query` runs `$this->posts = array_map( 'get_post', $this->posts );` against the post list.

[2017-10-18 17:41] JamesJosephFinn opened #337 "Add support for SOLR SpellCheck Module"
Feature request: Please integrate support for SOLR SpellCheck.

[2017-10-18 17:52] danielbachhuber commented on #337
Hi @JamesJosephFinn,

Thanks for the suggestion. Could you explain in greater detail how you'd expect it to be integrated?

[2017-10-18 18:34] JamesJosephFinn commented on #337
HI Daniel,

Currently I have the plugin running on [my Pantheon site](https://www.cloudchemistry.co/). Any [search that contains a misspelling](https://www.cloudchemistry.co/?s=bluebery) returns null. I can't say I know from experience, but I was just assuming you don't have the SpellCheck module running because of this.

[2017-10-18 18:38] danielbachhuber commented on #337
Cool, thanks for the additional detail. I'll flag this issue for support — this issue tracker is for Solr Power specifically, not necessarily Pantheon's Solr configuration.

[2017-10-19 08:49] ocean90 opened #338 "Support --batch-size argument for wp solr index to limit posts per batch"
By default `wp solr index` indexes 100 posts per batch. That's a lot if you just want to give it a quick test.
`SolrPower_Batch_Index` already supports a custom batch size through the `posts_per_page` query arg so we just have to pass the value to it. Proposal: `wp solr index --batch-size=1 --batch=123`

[2017-10-19 21:12] danielbachhuber commented on #274
Error is happening in #339 now, so this isn't fixed ☹️

[2017-10-19 21:13] #338 closed

[2017-10-20 11:35] ocean90 opened #341 "Parameter 2 to SolrPower_WP_Query::the_posts() expected to be a reference, value given"
Using PHP 7.1.9 I'm seeing the PHP warning for `Parameter 2 to SolrPower_WP_Query::the_posts() expected to be a reference, value given`

https://github.com/pantheon-systems/solr-power/blob/ae06bbb087c938e9f670e69f1abe1f3ece4a2125/includes/class-solrpower-wp-query.php#L374-L382

The stack:

[code]

Since objects are always passed by reference the need for the `&` isn't required. Removing it removes

[2017-11-09 16:05] #341 closed

[2017-11-15 03:55] JamesJosephFinn commented on #37
@joshkoenig you mentioned above

Was that ever woven in here? Thanks!!

[2017-11-15 16:56] ataylorme commented on #37
facetWP support didn't make it into the search widget

[2017-11-16 01:48] JamesJosephFinn commented on #37
Roger. Thanks.

[2017-11-20 14:25] ocean90 opened #345 "CLI: Missing validation of `batch` parameter"
Examples:

[code]

In both cases an error should be returned.

[2017-11-29 15:09] mweimerskirch opened #347 "Support for indexing serialized arrays"
Many plugins store data (e. g. repeatable text boxes) as serialized arrays in the post_meta table. Example:
[code]

Indexing those fields can lead to unwanted search results as control characters and array keys are included. One way to solve this would be using the "solr_build_document" filter to replace the fields in the solr document before sending it to the server.

The solution I propose would

[2017-11-29 15:18] danielbachhuber commented on #347
What unexpected, undesirable edge cases could we encounter with this approach?

Also, it'd be worthwhile to see how the other search plugins handle this (ElasticPress and others).

[2017-11-29 15:26] mweimerskirch commented on #347
The original content is no longer indexed in the "*_s" field, so if anyone used the content from the Solr results for display purposes and relied on that field, that would no longer work. The original content is however still stored in the "*_str" field, so that use case would still be possible.

[2017-12-01 14:50] ttrowell opened #348 "Displaydate sort option is not superseding score when selected"
**Actual result:**

When selecting 'displaydate' as the Default Sort option, search results are still returned out of date order and appear to be sorted by score.

**Expected result:**

Search results would be in chronological order by published date.

To test:
I re-saved the indexing options, deleted the index, re-indexed the content and ran the search.
See:
http://dev-shopeatsurf.pantheonsite.io

[2017-12-01 16:02] ataylorme opened #349 "Native ACF Support"
Not sure if this should be in Solr Power or another plugin to extend Solr Power. Let's discuss!

[2017-12-06 13:09] danielbachhuber commented on #347
Ok, I'm amenable to this change.

[2017-12-06 13:10] #337 closed

[2017-12-06 15:34] JamesJosephFinn commented on #337
Hi @danielbachhuber, was this module implemented in Pantheon's SOLR provisioning? Thanks!

[2017-12-06 15:37] danielbachhuber commented on #337
It was not, and there aren't any plans to do so.

[2017-12-06 15:42] JamesJosephFinn commented on #337
That's surprising. SOLR on Pantheon is a paid feature, and it seems a basic search function to return results even if the query isn't an exact match. Thanks for your consideration.

[2017-12-06 22:28] #345 closed

[2017-12-06 22:58] danielbachhuber commented on #348
Hi @ttrowell,

I'm not able to reproduce this issue locally:

![sortby](https://user-images.githubusercontent.com/36432/33689756-7892cd96-da95-11e7-9536-2a2ad245600b.gif)

In this GIF:

1. The default sort order is `score`, which means "Hello World" appears before "Sample Page"
2. "Sample Page" is published on April 18th and "Hello World" is published on April 17th.
3. Changing the sort order to `

[2017-12-08 09:51] tinefin commented on #348
@danielbachhuber I assume you mean a multidev? I created one on the mentioned site for you, named "pantheoncse".

[2017-12-08 15:05] magbicaleman opened #353 "Post object's post_author is saving display_name vs author id on Search Results"
**Our Issue**: When search results return the post's author's avatar and display name are not displaying.

Our display code snippet (we're using blade);

[code]

We noticed that when we deactivated `solr-power` plugin our display content started to show up, how we wanted it. Turns out that the `solr-power` plugin saves the author's display_name value in the post's post_author property, unlike by d

[2017-12-08 16:34] danielbachhuber commented on #353
Thanks for the report, @magbicaleman.

I've verified this to be the case, and agree that it's less than ideal. In my opinion, the expected behavior is to have the post object remain consistent regardless of whether Solr Power is active or not.

This decision was made in 0936fb526bda87754dac801eec3dc6d7fbb6fa8d. We could potentially back out of it in some way, but there's the possibility of unexpec

[2017-12-08 16:35] danielbachhuber commented on #353
One smaller impact option would be to keep `post_author` as the display name in the index, and only load the `post_author` ID onto the post object when `WP_Query` is filtered.

[2017-12-08 17:18] danielbachhuber opened #354 "Clear batch cache after deleting the entire index"
If the user deletes the entire index, then the batch cache should also be deleted (e.g. all future indexing should restart from batch 1).

The current behavior is that batch indexing restarts from the last batch it left off at.

[2017-12-11 17:40] cjcodes opened #355 "Does not work with Lando environment"
When developing locally with Lando, the certs required for this plugin to work are not installed.

Temporarily, I had to comment out:
- `includes/class-pantheoncurl.php:27`
- `includes/includes/class-solrpower-api.php:109`
- `includes/includes/class-solrpower-api.php:118`

(Line numbers come from the latest version released on wp.org.)

I don't yet have recommended solution steps (in crunch mode o

[2017-12-12 14:24] danielbachhuber commented on #355
Thanks for the report, @cjcodes.

For the public record, I've worked around this issue (error posting schema) by copying the schema.xml file to the correct place on the filesystem. For me, this is `~/solr/solr/conf/schema.xml`.

It looks like Lando is defining the `PANTHEON_ENVIRONMENT` constant as of https://github.com/lando/lando/commit/d600e1cd82c8a391a9e560ac0dccfd9f845aaf66#diff-d02f821273817

[2017-12-12 17:16] joshkoenig commented on #355
We may want to come to a consensus with the Lando team about how best to handle this. Ideally we can supply a slug of configuration that will make it work with their local environment without any hacking needed.

[2017-12-12 18:54] cjcodes commented on #355
@danielbachhuber Indeed copying the schema.xml helps, but there are two other issues I've run into:

1. Using the post schema button returns a 204 rather than 200, but still works. Maybe we should check for 2XX responses rather than 200?
2. Can't connect to the Solr instance (even ping doesn't work) because setting CURLOPT_SSLCERT forces verification against a cert that doesn't exist in Lando worl

[2017-12-12 21:01] #354 closed

[2017-12-13 14:28] ianmariano opened #357 "New Tab for Testing Queries"
Hi,

It would be nice to be able to do test/direct queries against Solr using the plugin, e.g., a new tab that allows one to build and execute a search. This would be quite useful in environments like Pantheon where you don't have access to the Solr admin to do them.

Thanks,
Ian

[2018-01-09 12:23] sense-design opened #358 "PDF index support"
Is it possible to index PDF content?

[2018-01-22 19:47] danielbachhuber opened #359 "Make it more intuitive to search against title OR post meta"
If you include a custom field value in indexing options, it's easy assume this would cause the document to appear in matching search results:

![image](https://user-images.githubusercontent.com/36432/35240998-f2ea7e24-ff69-11e7-98c6-74e48c7ce8d5.png)

However, getting the document to appear in search results _also_ requires some code monkery:

[code]

This should be way more intuitive.

[2018-03-09 13:15] eugenehub opened #360 "Wordpress Api doesn't work when i enable solr on wordpress(woocommerce)."
When i enable solr and install the plugin to my wordpress site, i cant use the wordpress api search.

Let's say i want to find an image from the media folder called (9518.jpg), i make a search request like this: https://myWordpressSite/wp-json/wp/v2/media?search=9518 But the response i get is empty brackets [ ]. Even though the file exists in my uploads folder in the media library.

So i guess if

[2018-03-13 21:22] danielbachhuber commented on #360
Hi @eugenehub,

Thanks for the report. To help us track the issue down, can you provide a bit more detail?

Specifically:

1. Did you run the full index process after activating the Solr Power plugin?
2. Do normal post search queries work as expected through the REST API?
3. What additional debugging have you done?

[2018-03-15 11:55] eugenehub commented on #360
Hello @danielbachhuber

1) Yes i did.
2) No. search doesn't work on media neither posts nor pages. Here is a screenshot.
![wpapisearchdoesnotworkwithsolron](https://user-images.githubusercontent.com/16281766/37461813-641d1432-2858-11e8-9da2-af233d2d8ceb.jpg)
3) Nothing, i'm not an expert.

Thank you for your consideration!

[2018-03-15 13:08] danielbachhuber commented on #360
Hi @eugenehub,

It's hard to say what the issue might be without being able to debug further.

If this site is on Pantheon, you can create a `cse` multidev environment and grant access to the email address on my GitHub profile so I can debug further.

If this site isn't on Pantheon, there's not much else I can do as we only offer limited support for non-Pantheon users.

[2018-04-03 07:21] zcrowe commented on #341
This issue still happens when using php 7.2, let me know if there's anything else I can provide to help, but the OP covers what I'm seeing.

[2018-04-13 11:41] stonor opened #361 "Support for newer Solr versions?"
According to the readme file, Solr Power works with a Solr 3.6 instance. Do you have plans to support newer Solr versions?

[2018-04-13 12:52] danielbachhuber commented on #361
Hi @stonor,

No plans at this time. We'll update the documentation when we do.

[2018-04-13 12:52] #361 closed

[2018-06-05 12:33] Ivan1234 opened #363 "New version of solr"
Can i use SOLR 7.3.1?

[2018-06-05 12:41] danielbachhuber commented on #363
Hi @Ivan1234,

Solr 3.6 is the only supported version.

[2018-06-05 12:41] #363 closed

[2018-06-07 06:56] Ivan1234 opened #365 "Query return empty result"
I have about 29 000 records in 'wp_posts', all of them indexed http://i.imgur.com/8eIJ2mx.png , but when i try to get them with simple request it return empty result. Although i have posts that match query in db.

Here is example of query

[query] => Array
        (
            [post_type] => affiliate_products
            [post_status] => publish
            [solr_integrate] => 1
            [ord

[2018-06-07 08:41] Ivan1234 commented on #365
Maybe i need add some `dynamicField` to shema .xml

[2018-06-07 11:42] Ivan1234 commented on #365
Problem was cause i didn't add custom fields that i need to be scraped

[2018-06-07 14:20] #365 closed

[2018-06-11 05:37] Ivan1234 opened #367 "Diffrent custom fields"
I there any way to use different `Index custom fields` for different post?

[2018-06-11 06:20] #367 closed

[2018-06-14 16:13] AnaliaMok commented on #180
Was any further work or integration done on supporting the `post__in` and `post__not_in` arguments? Currently facing a problem where `post__not_in` would be helpful.

Thanks in advance.

[2018-06-14 20:51] danielbachhuber commented on #180
It looks like it wasn't, and it's on me because I missed the ping. I can look into this in the next week or so, and I'd be happy to review a PR if you want to fix it before then.

[2018-06-15 23:03] jakebellacera commented on #355
Revisiting this.

I'm running a a local Lando environment with the default `pantheon` recipe. I'm currently looking into enabling Solr and was having trouble enabling the plugin. After some debugging, I noticed that the post schema task which is ran when the plugin is enabled was returning a 204. Modifying `includes/includes/class-solrpower-api.php:134` to allow a 204 response allows the plugin to

[2018-06-19 14:43] ghamok commented on #180
Thank you for the response,
I just submitted a pull request with more details #368

[2018-06-26 21:59] danielbachhuber commented on #180
Fixed in #368

[2018-06-26 21:59] #180 closed

[2018-06-26 22:50] ataylorme opened #370 "Update to Solarium `4.0.0` or higher"
Solarium released [`4.0.0`](https://github.com/solariumphp/solarium/releases/tag/4.0.0) in May. Our `composer.json` locks in at `3.x`. We should update to `4.x`

[2018-06-27 19:28] tedw commented on #358
Any help on this front would be much appreciated. I found the following docs but am new to Solr and not sure how to do this in WordPress. Thanks!

https://lucene.apache.org/solr/guide/6_6/uploading-data-with-solr-cell-using-apache-tika.html

[2018-06-29 22:11] mistcat opened #371 "Dismax Boost may not be set correctly for weighting fields in queries"
__in includes/class-solrpower-api.php__

the plugin currently calls:

[code]
However I believe what is should call instead in order to correctly weight the fields as described is:

[code]

[2018-07-02 15:01] danielbachhuber commented on #371
Thanks for the report, @mistcat.

Can you provide more background information for this suggestion?

For context, `$dismax->setBoostFunctions` was originally added in bfcc9fd8de9bc099e838a4e619acdd010c8cb7ff and became filterable with 003195d25622254bfc3e139154225ffddcf128e5

[2018-07-02 15:55] mgburns opened #372 "PHP Warning due to usage of count() on integer"
Here's the warning:

[code]

And here's the offending line:
https://github.com/pantheon-systems/solr-power/blob/cd3045604557b1a6bad6081249b92bd76daeeea9/includes/class-solrpower-api.php#L346

Not sure if the schema changed at some point, but as of today that option will [always be an integer](https://github.com/pantheon-systems/solr-power/blob/cd3045604557b1a6bad6081249b92bd76daeeea9/includes/clas

[2018-07-03 17:25] ghamok commented on #372
This also occurs for me, but only for php versions above 7.0

[2018-09-04 01:57] tinefin opened #374 "Upgrade to support php 7.2"
Customer receiving this error:
`Warning: Parameter 2 to SolrPower_WP_Query::the_posts() expected to be a reference, value given in /srv/bindings/<snip>/code/wp-includes/class-wp-hook.php on line 286`

Goes away when downgrading php version to 7.0.

Internal reference:
https://pantheon-systems.desk.com/agent/case/112944

Also see #372

[2018-09-05 05:46] alexmakeit opened #375 "Facet count"
Is there a way to get more than 10 facet http://i.imgur.com/iSK41JP.png ?

[2018-09-05 14:12] danielbachhuber commented on #374
Hi @tinefin,

Have you verified the customer is running Solr Power v1.5.0? This issue should've been fixed with #342. I can't see the ticket so I don't know whether this has been discussed yet.

[2018-09-05 14:17] danielbachhuber commented on #375
Hi @alexmakeit,

I'm not sure I follow. Can you share the code you used to produce the screenshot, and more details about your configuration generally?

[2018-09-05 14:28] #372 closed

[2018-09-06 11:15] danielbachhuber commented on #374
@geraldvillorente The second warning is fixed with #372

For the first warning, I'm not sure how they're still receiving that error. Can you grant me access to the site so I can look at their codebase? My Pantheon account email address is daniel@bachhuber.co

[2018-09-06 23:32] danielbachhuber commented on #206
I'm not sure why I opened this ticket originally. It may have come from my line-by-line code review of the plugin, without actually testing the plugin's current behavior.

The plugin's current behavior is that `post_content` is unaltered, which is expected. I've added a test case in #377 asserting the fact.

It looks like this code came in with the original fork, so maybe it's never been functiona

[2018-09-06 23:42] danielbachhuber commented on #370
@ataylorme Should we do this for `2.0.0` too?

[2018-09-06 23:43] #360 closed

[2018-09-06 23:54] ataylorme commented on #370
Yes, I think we should

[2018-09-06 23:55] #353 closed

[2018-09-06 23:57] #206 closed

[2018-09-07 11:29] #348 closed

[2018-09-07 11:38] danielbachhuber commented on #308
This was addressed sufficiently with #351

[2018-09-07 11:38] #308 closed

[2018-09-11 13:38] mgburns opened #380 "Recent update to Solarium 4 is not compatible with Solr < 6"
See https://github.com/solariumphp/solarium/blob/master/CHANGELOG.md#removed-2.

As far as I know the [current version of Solr on Pantheon is 3.6](https://pantheon.io/docs/solr/) so this is a problem.

[2018-09-11 13:40] danielbachhuber commented on #380
@mgburns Huh. Any ideas why our tests still pass then?

[2018-09-11 13:40] danielbachhuber commented on #380
cc @ataylorme

[2018-09-11 14:00] mgburns commented on #380
I'm not sure. I had thought it was breaking the default query operator setting, but that turned out to be a red herring as I had some code in my local instance attempting to address issues I raised in https://github.com/pantheon-systems/solr-power/issues/371#issuecomment-420260848 that was causing it.

So I can't point to anything specific that it breaks, but that line in the changelog is still di

[2018-09-11 17:30] ataylorme commented on #380
BC break: Suggester query type is now compatible to Solr v6/7 (the existing one was renamed to Spellcheck)

Those are the changes I saw in the changelog and they relate to the Suggester component, which Solr Power does not make use of.

[2018-09-11 17:56] danielbachhuber commented on #371
I imagine it was a "tried something else and it worked" implementation. Because it's only used for fetching stats, we could run an entirely separate Solr query for it, and ignore the code path used for the main Solr query.

I'd be fine with a pull request including your suggested changes as long as they also include a reasonable amount of test coverage around them.

[2018-09-11 18:16] aaman opened #381 "Is WPML compatible with Pantheon Solr"
Hi,

I have a Wordpress website that is built using ACF and WPML for translations between English and French.  I installed the Pantheon Solr plugin and it is able to index my posts and pages for English but it is not able to index my French pages?

Is there an additional configuration that I have to add or is WPML not supported?

[2018-09-11 18:31] ataylorme commented on #381
Hi @aaman,
I don't have much experience with WPML but according to their documentation the WPML plugin [stores translation data in a custom database table](https://wpml.org/documentation/support/wpml-tables/).

Unfortunately, because the translations are stored in a custom database table, outside of the normal WordPress data storage, it is out of scope for the Solr Power plugin.

Solr Power only s

[2018-09-11 18:33] aaman commented on #381
Hi @ataylorme thanks for the update

[2018-09-11 18:33] #381 closed

[2018-09-13 11:58] danielbachhuber commented on #380
@ataylorme I _think_ we're still fine to release 2.0.0. I'm out of the office tomorrow through the 25th though, so I'd prefer to do the release after that point in case there's any cleanup.

@mgburns Are you able to use the 2.0.0 release candidate against your current project to see if you run into any issues with operation?

[2018-09-13 12:45] mgburns commented on #380
Unfortunately this particular site is launching today with the previous release of this plugin. We have some other projects that are earlier in development that could potentially switch -- I'll get back to you.

[2018-09-13 15:37] aaman opened #382 "What is the max Solr document size"
Hi,

What is the max record/document size that I can pass to Solr?

[2018-09-13 15:44] ataylorme commented on #380
That's good because it went out on Monday 9/10. The automated tests passed and I tested on the cars site with 40k items indexed and didn't run into any issues.

[2018-09-13 17:00] danielbachhuber commented on #380
@ataylorme Ah. Can you make sure to create a tag? https://github.com/pantheon-systems/solr-power/releases

[2018-09-13 17:04] ataylorme commented on #380
I created one but forgot to push it. It is there now

[2018-09-13 17:14] ataylorme opened #383 "WordPress Coding Standard Issues in 2.0.0"
See https://travis-ci.org/pantheon-systems/solr-power/jobs/428258907

[2018-09-13 17:50] danielbachhuber commented on #382
I haven't heard of there being a limit that impacts sites practically. Are you asking out of curiosity or because you've run into some issue?

[2018-09-14 14:13] aaman commented on #382
Just out of curiosity

[2018-09-27 00:11] ataylorme commented on #383
Closed by #384

[2018-09-27 00:11] #383 closed

[2018-09-27 15:07] mgburns commented on #371
Looks like this is a bit more involved than I originally thought. The reason that you're using `q.alt` instead of `q` because of the way all the filter queries are set up in [`SolrPower_WP_Query::build_query()`](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-wp-query.php#L440-L510). For example, here's the query it builds to filter by post type:

[code]

The di

[2018-09-27 15:16] mgburns opened #385 "Facet query parsing probably shouldn't use default operator"
In [line 436 of `class-solrpower-wp-query.php`](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-wp-query.php#L436) the default query operator is used to join facet clauses.

This feels conflated to me, as the search operator for multi-word queries feels very different than the search operator for facet queries. Take the following psuedo-query:

Query: `how do I

[2018-10-05 13:48] ataylorme commented on #385
For backwards compatibility we could do something like this:

[code]

and then use `$facet_operator` instead of `$default_operator` in the return statements of `parse_facets`.

This would allow you to change the facet operator with a filter without changing existing functionality for those not expecting the change.

Would that work for you @mgburns?

[2018-10-05 14:16] mgburns commented on #385
Totally! Thanks @ataylorme.

[2018-10-05 14:50] ataylorme commented on #385
@mgburns feel free to make a PR, especially if you are participating in [Hacktoberfest](https://hacktoberfest.digitalocean.com/details), otherwise, I'll make a PR when I have some time next week.

[2018-10-05 14:54] mgburns commented on #385
@ataylorme Wait, I can get a free T-Shirt?? Count me in! :)

[2018-10-09 18:45] gcalex5 opened #387 "Query String Max Length"
It looks like I've encountered an issue with hitting a max length on the query being sent to the server in a GET request.

When querying for a large set of taxonomy/category IDs(In the realm of ~600+ IDs) I'm seeing a 400 error from the server.

With this size of a query, the string is coming out to around ~8.7k characters

- Callingstrlen() on the query URI.

It looks like this was solved for on

[2018-11-29 00:11] faction23 opened #389 "Custom WP Rest Api Endpoints"
Thanks for this plugin! I am running into some strangeness when activating this plugin on Pantheon with my custom WP Rest endpoints. Its possible I am missing something.

*Details*

I have registered a custom endpoint that accepts a few params (post type array, search, taxes, per page, paged, status) that executes WP_Query. It just returns ids and I create a tailored response just containing a cou

[2018-11-29 21:12] danielbachhuber commented on #389
Hi @faction23,

Thanks for the report.

Can you share the code you're using to filter the original `WP_Query` return value? It's possible that Solr Power is overriding the filter you're using so your filter no longer applies.

[2018-11-30 18:34] faction23 commented on #389
Hey @danielbachhuber ! Thanks for taking the time to checkin on this! OK, here is the code that registers my custom endpoint and supplies my response.

[code]

I'm doing this as i get better performance (both in query and payload weight) out of this tailored response (plus multi cpt support on one request) than by using the v2 built ins.

Anyway, with this plugin off, i get what i expect, json in

[2018-11-30 21:04] danielbachhuber commented on #389
That's really odd. I don't see any glaring issues in the code you've provided. Solr Power doesn't modify API responses directly, so the behavior would be in `WP_Query`.

Is there any chance you have some other code unexpectedly at play? I'll think on this some to see if I can come up with other ideas.

[2018-12-01 00:52] faction23 commented on #389
OK, i tested and you are right! Even on the front end i was getting the same effect. I also tried out disabling all but my core plugins:

acf pro, my own core functionality. Same thing

Then i decided to test not using a wp_query where only id's where returned, and voila! It works normally. Looks like part of the bug here lies in setting WP_Query to only return id's. That causes a huge pile of all

[2018-12-03 20:45] danielbachhuber commented on #389
I'm not quite sure what you're referring to here. Can you point me to the specific code?

Oh, I think you've run into a small idiosyncrasy:

1. Solr Power is enabled for `$query->is_search()`: https://github.com/pantheon-systems/solr-power/blob/d3bb9c9c53241f0037cfbc0ecc93b38c1e479a83/includes/class-solrpower-wp-query.php#L141
2. However, if the `s` param itself is empty, then the Solr query isn't

[2018-12-03 23:18] faction23 commented on #389
OK! Not applying an empty search string and using 'solr_integrate' => true on the query now sees the post type and tax args being respected respected, thank you so much!

For the first item the issue i am seeing remains. If i add the fields arg here so that wp query only returns ids:

[code]

then that post data has all of this additional cruft added to it: https://gist.github.com/faction23/022f74

[2018-12-10 12:33] #387 closed

[2018-12-18 00:52] #374 closed

[2018-12-18 14:09] danielbachhuber commented on #389
Aha, I'm not crazy. I worked on this a year and a half ago #300

[2018-12-27 17:14] jhned commented on #359
Yeah no kidding, I've been looking for this for a week.

It's also worth noting that if you're using the [Query Monitor](https://wordpress.org/plugins/query-monitor/) plugin, it does NOT reflect the filter change in the "Debug Bar: Solr" panel.

I'd recommend adding this to the documentation about using custom fields.

[2019-01-17 03:36] defunctl opened #393 "Issues running codeception integration tests"
We force activate some plugins in our framework and one of those plugins is solr-power and for whatever reason, it looks like running the codeception integration tests is creating some empty variables [here](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L359)

[code]

[2019-01-17 04:38] defunctl commented on #393
Well, running `SolrPower_Options::get_instance()->initalize_options();` in my test's `setUp()` method fixes this, but I'm still wondering if this is something you may want to add additional countable checks for?

[2019-01-17 16:59] jhned opened #394 "Add filter to get_post result before indexing"
https://github.com/pantheon-systems/solr-power/blob/e2f133c257058beb4426e819ee5ed98e17df0c54/includes/class-solrpower-batch-index.php#L228

I'm in a situation where I have many posts that have discrete, specific names. On the front-end, I filter the post title to merge the current post title with parent post titles in order to provide more context. I don't want to change the post title itself in t

[2019-02-11 12:03] carl-alberto commented on #375
Hi @danielbachhuber,

This issue might be related on the facets that is being displayed by the widget, it only shows maximum of 10. https://www.screencast.com/t/hDUtOhPk

It seems, the plugin don't have an option to change that value or a documentation to change it or override it via a filter.

Tried to manually change the `wp-content/plugins/solr-power/includes/class-solrpower-options.php: $optio

[2019-02-13 20:45] kshaner commented on #375
@carl-alberto ,

I needed this as well and it worked by setting a large number to s4wp_max_display_tags.  Setting it to -1 doesn't work as that also disables sorting by facet count.  You could access it by filtering the `get_option` call:

[code]

[2019-02-26 17:37] krispy1298 opened #397 "<h1> is much more helpful for debugging than <title> for batch indexing"
Proposing a change in [this line](https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-batch-index.php#L241).

Here is output from a CLI index with an error:
[code]

`HTTP Status 400 - ERROR: [doc=18807] unknown field 'valid_years'` is much more helpful than `Apache Tomcat\/7.0.68 - Error report`.

[2019-03-13 03:16] #382 closed

[2019-04-30 05:00] kshaner opened #398 "2.0 network activation on multisite on php < 7.1"
On a multisite installation with php < 7.1, after the plugin is updated from 1.x to 2.0 (or a new installation), there is no warning that the plugin has not been activated with a network activation. The standard plugin activated admin notice appears. Took me a while to figure out what was going on because of the lack of a warning message.

I would expect the same error that appears on a single sit

[2019-04-30 15:49] danielbachhuber commented on #398
Thanks for the suggestion, @kshaner. Want to submit a pull request for this?

[2019-04-30 15:51] danielbachhuber commented on #397
Sorry for the late reply here, @krispy1298. This sounds like a good suggestion. In fact, I'd suggest parsing the `<h1>` if it exists, otherwise falling back to `<title>`

[2019-04-30 17:51] #398 closed

[2019-05-09 21:41] danielbachhuber commented on #393
@defunctl Sorry for the late reply here. Want to submit a pull request for it?

[2019-05-15 02:00] pavellishin opened #405 "SolrPower_Batch_Index::index_post does not include enough information to debug error"
[This bit tries its best to show the document title](https://github.com/pantheon-systems/solr-power/blob/60291de6ccd2148dc53dcac0e97e311956840b03/includes/class-solrpower-batch-index.php#L240-L243), but in most cases this isn't very useful:

[code]

The actual body response from the server *is* useful, however:

[code]

If we're regexing for `<title>`, it seems reasonable to include anything inclu

[2019-05-15 13:38] danielbachhuber commented on #405
Hi @pavellishin,

It looks like this is already tracked with #397. Want to submit a pull request for it?

[2019-05-15 14:44] pavellishin commented on #405
Oh, you're right! I should have searched before opening this.

I'll try to get something to y'all if I have time this week.

[2019-05-15 14:44] #405 closed

[2019-05-16 23:15] pavellishin commented on #394
Have you considered using the `solr_build_document` hook? https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L396 <-- `build_document` runs the resulting solr doc and the WP post through this filter before submitting it for a solr update.

[2019-05-20 13:35] pavellishin opened #408 "SolrPower_Api->get_server_info returns inaccurate server information"
https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-api.php#L575-L584

`get_server_info()` assumes that the host name and port are the pantheon environmental variables, but it's possible to override the connection data via filters and constants.

(I'll try to get a PR out for this this week if I can.)

[2019-05-20 13:44] danielbachhuber commented on #408
That'd be great, thanks!

[2019-05-22 13:41] danielbachhuber commented on #397
Fixed up in #407 407

[2019-05-22 13:41] #397 closed

[2019-06-02 22:35] extremeshok opened #412 "Updated wordpress.org version to 2.1"
Current version on https://wordpress.org/plugins/solr-power/ is 2.0

Please can this be updated to 2.1

Thank you

[2019-06-03 03:47] ataylorme commented on #412
Hi @extremeshok,
The deployment to WordPress.org is blocked by the svn pre-commit hooks not being compatible with PHP 7.3

See https://meta.trac.wordpress.org/ticket/3791#comment:10

[2019-06-04 03:55] defunctl commented on #371
Can confirm that modifying `solr_boost_query` with all kinds of different variations never changes the search results.

[2019-06-12 20:53] carl-alberto commented on #24
Did this feature push through? I believe not yet as it seems `attachments` are always counted when indexing from the plugin settings?

<img width="1948" alt="2019-06-13_0439" src="https://user-images.githubusercontent.com/5098765/59385499-0f6eab80-8d97-11e9-9653-da220215041f.png">

[2019-07-08 14:17] Naresh206 opened #413 "Solr power 3 levels of hierarchy taxonomy in worpdress"
Hi,

We are trying to build hierarchical taxonomy facets. Please, this is a custom taxonomy. We need to have 3 levels of hierarchy with this. Is this supported with solr power. Can you please share thoughts or code examples would be great.

[2019-07-08 15:46] danielbachhuber commented on #413
Hi @Naresh206,

It should be possible, yes.

It should work without any additional configuration. If you run into specific questions, feel free to drop them here and we'll do what we can do answer them.

[2019-07-09 05:11] Naresh206 commented on #413
Hi,

Taxonomy is coming in the front end but I cannot see hierarchy in the front end.

Here is the screenshot of how custom taxonomy is built
![Screenshot1](https://user-images.githubusercontent.com/19283591/60860894-ffcb7100-a235-11e9-9eea-16bb9ee2b1a8.PNG)

Here is the screenshot how taxonomy facets are seen on the front end
![Screenshot2](https://user-images.githubusercontent.com/19283591/60860

[2019-07-09 13:24] Naresh206 commented on #413
Taxonomy is coming in the front end but I cannot see hierarchy in the front end.

Here is the screenshot of how custom taxonomy is built
![Screenshot1](https://user-images.githubusercontent.com/19283591/60860894-ffcb7100-a235-11e9-9eea-16bb9ee2b1a8.PNG)

Here is the screenshot how taxonomy facets are seen on the front end
![Screenshot2](https://user-images.githubusercontent.com/19283591/60860909-1

[2019-07-09 13:24] Naresh206 commented on #413
Hi,

Taxonomy is coming in the front end but I cannot see hierarchy in the front end.

Here is the screenshot of how custom taxonomy is built
![Screenshot1](https://user-images.githubusercontent.com/19283591/60860894-ffcb7100-a235-11e9-9eea-16bb9ee2b1a8.PNG)

Here is the screenshot how taxonomy facets are seen on the front end
![Screenshot2](https://user-images.githubusercontent.com/19283591/60860

[2019-07-09 17:57] danielbachhuber commented on #413
@Naresh206 It looks like the faceting widget doesn't support hierarchy right now. We can re-open this issue and consider it for a future release. Feel free to submit a pull request with support if you'd like.

[2019-07-15 16:52] danielbachhuber commented on #412
I've just asked again on the meta thread.

[2019-07-18 22:36] elliottpost commented on #311
I wanted to follow-up on @danielbachhuber's suggestion above.

The action here is probably `acf/save_post`, however, the limitation exists such that at this point the fields for ACF are something like `$_POST['acf']['field_123456789abcdef`] = "your value"`, but in the database the meta key is named something similar to `{page_builder}_{x}_{field_name}`, where `{page_builder}` is the name of your A

[2019-07-23 16:15] Naresh206 commented on #413
Hi,
We want to do a custom range search on a date, for example, post_date from now+6 months programmatically
Another use case may be sorting the price custom field from $1000 to $2000

Can you please give an example to do this and help

[2019-07-24 08:51] Naresh206 opened #416 "How to pass the custom range search on a date in solar search?"
Hi

We want to do a custom range search on a date, for example, post_date from now+6 months programmatically
Another use case may be sorting the price custom field from $1000 to $2000

Can you please give an example to do this and help

[2019-07-25 18:03] danielbachhuber commented on #416
Hi @Naresh206,

Solr Power supports most of the queries supported by `WP_Query`, so both of these should be possible.

Sorry, this is outside the scope of the open source support we offer.

[2019-07-25 18:03] #416 closed

[2019-08-01 22:11] elliottpost commented on #408
I know there's a PR for this right now, but since it hasn't been approved yet, here's another option to solve this:

[code]

[2019-08-14 19:22] danielbachhuber opened #419 "Remove PHP 7.0 as the Composer platform requirement"
In #418, we had to add the following as a platform requirement in `composer.json`:

[code]

We did this because WordPress.org's linter is stuck on PHP 7.0. It doesn't seem to be a huge deal though. I think the only downgraded dependencies are PHPUnit (to v6.5.1 from v7) and `symfony/event-dispatcher` (to v3.3.6 from v4)

Once the linter is upgraded/fixed in https://meta.trac.wordpress.org/ticket/3

[2019-08-14 19:47] danielbachhuber commented on #412
@extremeshok Sorry for the delay here. Solr Power is now at v2.1.1 on WordPress.org. I finally figured out a temporary workaround for the WordPress.org issue (documented in #419)

[2019-08-14 19:47] #412 closed

[2019-08-15 00:27] extremeshok commented on #419
thank you

[2019-08-27 22:56] defunctl opened #421 "Filter to permit non public blogs to have their posts indexed"
Hey @danielbachhuber,

Would you guys be open to some kind of filter to bypass this public blog check https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-sync.php#L86 ?

We have a situation where we use https://wordpress.org/plugins/restricted-site-access/ to keep a site private (it sets the public parameter to 2), but still want the dashboard's posts searchable wit

[2019-08-28 15:17] #421 closed, assigned to nobody

[2019-11-18 19:56] dougaxe1 opened #433 "Lazy load server ping check instead of 'init'"
In reviewing New Relic data from a production application using Solr Power I noticed the ping request in every request, while quick, towers over all other requests by frequency:

https://github.com/pantheon-systems/solr-power/blob/master/includes/class-solrpower-api.php#L73
`add_action( 'init', array( $this, 'ping_server' ) );`

It seems like the default behavior should be to only ping on `is_sear

[2019-11-18 21:50] danielbachhuber commented on #433
Thanks for the issue, @dougaxe1

It looks like there are two instances where the `ping` attribute is checked:
* https://github.com/pantheon-systems/solr-power/blob/e2f133c257058beb4426e819ee5ed98e17df0c54/includes/class-solrpower-wp-query.php#L141-L142
* https://github.com/pantheon-systems/solr-power/blob/e2f133c257058beb4426e819ee5ed98e17df0c54/includes/class-solrpower-wp-query.php#L374

One of t

[2019-11-18 21:54] dougaxe1 commented on #433
This site is on Pantheon and the check is relatively fast, ~20ms. It was the frequency which alerted me to its presence.

[2019-11-18 21:59] danielbachhuber commented on #433
Ok. I'll look into lazy loading the check when I have some time.

[2019-12-06 21:56] jnorell opened #440 "search within comments?"
Is there any way to customize solr-power to search within comments, just like the actual post content?

[2019-12-09 19:00] danielbachhuber commented on #440
Hey @jnorell:

Yep, this should be possible, although would require a fair amount of work.

At a high level, you'd need to:

1. Create a new Schema for comments.
2. Add the necessary WordPress hooks to push comment documents to Solr when comments are updated.
3. Overload `WP_Comment_Query` (in a manner similar to how Solr Power overloads `WP_Query`) to search Solr when comments are queried.

It'd

[2019-12-09 19:00] #440 closed

[2019-12-16 10:17] ovangmbh opened #441 "First search is very slow"
I am using the docker image [kshaner/solr](https://hub.docker.com/r/kshaner/solr/) and everything is connecting as expected.

But every first search within over 80k posts is very slow (30 seconds). The next search with the same search parameters are very fast (under 1 second).

This is also if I use the WP_Query with the "solr-integrate" parameter.

[2019-12-16 15:48] danielbachhuber commented on #441
Hi @ovangmbh,

Thanks for the report. Based on what you've described, this seems like it's a problem with the Docker image, not Solr Power.

Do you have any reason to believe the slowness is coming from Solr Power?

[2020-01-10 10:04] muralib36 opened #442 "How to display document id and other details in a doucment?"
I am using this plugin in my wordpress. Am trying to display document id and other details but i didn't find possible solution and also check in solarium api documentation. Can any one please suggest any solution.

[2020-01-10 15:56] danielbachhuber commented on #442
Hi @muralib36,

I don't think you have direct access to the document ID without some modifications.

Could you describe what you're trying to do with a bit more detail? There might be some alternative way to achieve what you want.

[2020-04-23 19:33] jimkeller commented on #371
I don't think we should be using the q.alt - after a lot of debugging it doesn't seem to support the boost syntax.

I think using q.alt was a misunderstanding of the note under "selecting all documents" at the following link - it only applies if you're trying to use standard solr syntax in a dismax query: https://solarium.readthedocs.io/en/stable/queries/select-query/building-a-select-query/compon

[2020-04-24 12:15] #442 closed

[2020-04-24 12:16] #441 closed

[2020-05-05 14:52] #336 closed

[2020-06-14 03:12] carl-alberto commented on #349
Hi @danielbachhuber

Not sure is this is the correct issue to open this for the Gutenberg era but as far as we understand, by default, all text in the wp_post table > post_content column will be indexed by the plugin, but it seems it does not if it is inside an ACF block of meta data which was implemented using this method https://www.advancedcustomfields.com/blog/acf-5-8-introducing-acf-blocks-fo

[2020-06-15 12:55] danielbachhuber commented on #349
Hey @carl-alberto,

As it turns out, Solr Power runs the `post_content` through `strip_tags()` prior to indexing: https://github.com/pantheon-systems/solr-power/blob/458cd5bd889e38baf57cab6da9535b9ec4417a8d/includes/class-solrpower-sync.php#L273

`strip_tags()`, unfortunately, also strips out HTML comments.

If you'd like to only strip out HTML and not HTML comments, here's a code snippet you coul

[2020-07-13 19:39] #433 closed

[2020-07-17 22:04] mrobit commented on #371
@jimkeller I have no idea how any of this works, but this made our search queries work a lot more reliably. Kudos.

[2020-07-22 10:52] juliquiron opened #462 "WooCommerce orders are not indexed"
Hello,

I'm trying this plugin to improve the select performance on a heavy orders posts and post_meta tables site but I see that Orders are not indexed by this plugin. Am I correct or I missed something out?

Thanks for your work here!

[2020-07-22 13:54] juliquiron commented on #462
BTW, I already tryed:
[code]

[2020-07-22 18:41] juliquiron commented on #462
Ok, sorry, my bad. Is not enough to add the post_type, also post_status is need as long orders (or subscriptions) have different post statues.

Just for the record, to make it work it looks like:

[code]

(you can figure out your statues with `select distinct post_status from prefix_posts where post_type = 'shop_order';`)

[2020-07-22 18:42] #462 closed

[2020-07-23 14:49] danielbachhuber commented on #462
@juliquiron Glad you were able to figure it out! Thanks for reporting back with your solution 😄

[2020-07-23 15:18] MikeNGarrett opened #464 "Support TrieDateField for publish date"
Current schema does not support a date field we can use to run date functions against. Adding TrieDateField support in the schema would support publish date boosting and other date-based calculations.
#463

[2020-07-24 17:34] kshaner opened #465 "Feature: add Solr result data to Rest API search endpoint"
SolrPower has no Rest API integration at this point and would be nice to have going forward when building single page applications. I envision two possible scenarios:

1. It would be nice to have solr data available on /wp/v2/search endpoint. I imagine adding a item.solr object to each item in the collection containing the highlight and perhaps the score. Every other field should be covered by def

[2020-07-27 11:41] danielbachhuber commented on #465
Hey @kshaner,

Thanks for the suggestion :) Like I mentioned to @MikeNGarrett, we're not really embarking upon new feature development for Solr Power at the moment.

It seems like each of these two scenarios could be built out as a standalone plugin. What do you think about this approach?

[2020-07-27 13:32] MikeNGarrett commented on #464
@danielbachhuber Added.

[2020-07-27 17:36] #464 closed

[2020-10-14 20:47] kgrondell opened #470 "Woocommerce search by sku"
On the pantheon platform can you get solr to search by sku? With woocomerce.

[2020-10-16 02:06] danielbachhuber commented on #470
Hi @kgrondell,

It seems like it should be possible, but it might need a bit of code. I'm not familiar enough with WooCommerce to provide direction on what that would be though.

[2020-10-16 02:06] #470 closed

[2020-11-25 17:06] kshaner commented on #465
Cleaning out my inbox and realized I never replied to this. That's unfortunate, but understandable.

It does give me pause though to recommend this to any for sites moving forward though, even sites hosted on Pantheon.

[2020-12-02 15:42] fakingfantastic commented on #433
Hey @danielbachhuber , just wanted to mention an issue that I believe #458 caused for me (but it could be due to my limited knowledge of the plugin).

When we updated from 2.1.3 -> 2.2.1, our custom Solr queries stopped working.

We originally had setup code like this...
[code]

.. and started getting this error

We fixed it by adding a quick ping before running the query
[code]

Let me know if my

[2020-12-03 23:45] danielbachhuber commented on #433
@fakingfantastic Sorry about that! I didn't think about that scenario when I implemented it.

Your proposed solution seems just fine. An alternative, which would accommodate a failed response from Solr, could be:

[code]

I don't think we'll revert #458 at this point because we'd still like to avoid pinging Solr until we need it.

Hope this helps!

[2020-12-17 13:48] danielbachhuber commented on #325
We have Dependabot now! 🎉 #480

[2020-12-17 13:48] #325 closed

[2020-12-19 02:04] greenSkin opened #488 "Custom ACF field with boost"
I'm trying to use a custom ACF field as a boost keyword field. I'm looking to raise posts to the top of search results based on matches in this field. I've tried using the `solr_index_custom_fields` and `solr_boost_query` filters but have had no luck. Please help!

[2020-12-21 13:42] danielbachhuber commented on #488
Hi @greenSkin 👋

Can you share the code snippets you've tried? Also, is this a site hosted on Pantheon?

[2020-12-21 16:17] greenSkin commented on #488
Yes, the site is hosted on Pantheon. I've tried a few different things. The simplest was the following:
[code]

The `solr_search_boost` is the field name of my simple ACF text field. Also, when I include "solr_search_boost^5" in the 'solr_boost_query" filter I get 0 search results, even after re-indexing.

[2020-12-22 01:34] danielbachhuber commented on #488
Oh! You might've been bit by #359 too.

Solr Power doesn't search against the post meta value by default, so you need to do some code trickery to make that happen.

When boosting, I think you'll need to use `solr_search_boost_str`, which is the name of the field as Solr knows it.

Can you try those out and let me know how you progress?

[2020-12-22 16:19] greenSkin commented on #488
Thanks. I applied #359 solution and it seems to help but I'm still not able to get the boost working. I set the boost to `post_title^2 post_content^1.2 solr_search_boost_str^5` but even that ends up giving me 0 results for queries that would have otherwise given results.

[2021-02-04 21:15] greenSkin commented on #359
The 'pre_get_posts' seems to break search on admin pages. I added `!is_admin() && !empty( $query->get( 's' ) )` to the conditional.

[2021-03-05 15:02] vinny-smooches opened #490 "Anyone experience issues with a custom schema.xml file not being used on pantheon?"
This is a bit of an odd issue, I am working with the support team at Pantheon trying to debug why a custom schema.xml file uploaded to the `uploads\solr-for-wordpress-on-pantheon\` directory is not being used after it has been successfully reposted and the site re-indexed. I have tried all environments, DEV, TEST, and LIVE, the results are the same across the board. It feels like the default schem

[2021-03-08 00:04] vinny-smooches commented on #490
So for posterity's sake, with the help of Carl on the pantheon helpdesk side, he deduced that since we are using a composer install method for WP, which is moving around the directories, namely the wp-content folder so it is no longer in the wp directory. This appears to be the culprit here, the solr-power plugin doesn't actually look at what WP is using as its content directory, but rather looks

[2021-03-08 00:04] #490 closed

[2021-03-08 04:06] carl-alberto opened #491 "Feature Request: Message on where the path of schema.xml is processed"
We have a Pantheon user setup where they have a composer based WP installation which they have a custom `schema.xml` that was put in `/code/web/wp-content/uploads/solr-for-wordpress-on-pantheon` but it was not being recognized, so we tried putting the schema in `/code/web/wp/wp-content/uploads/solr-for-wordpress-on-pantheon`

Since we don't have any access to Solr logs, it would be nice if the com

[2021-03-08 16:59] danielbachhuber commented on #491
Great suggestion! After #492 lands, the full path will be displayed on Pantheon:

<img width="962" alt="image" src="https://user-images.githubusercontent.com/36432/110354081-a14b2d00-7fec-11eb-8b1a-d1b4454de8db.png">

[2021-03-08 17:01] danielbachhuber commented on #490
Thanks for documenting the fix, @vinny-smooches ! I'm incorporating the expected path with #492

[2021-03-08 17:07] #491 closed

[2021-05-04 00:24] jimkeller commented on #371
I created a pull request at: https://github.com/pantheon-systems/solr-power/pull/495 to workaround this problem.
The pull request allows you to define a constant SOLRPOWER_DISABLE_QUERY_ALT that will circumvent the code that causes the boost not to work.

So simply put the following in wp-config.php:
`define('SOLRPOWER_DISABLE_QUERY_ALT', true);`

Note that you will still have to set your own boos

[2021-05-05 23:55] danielbachhuber commented on #371
Shipped the constant with v2.2.4. Thanks again for your pull request, @jimkeller !

[2021-05-05 23:55] #371 closed

[2021-05-10 03:03] mistcat commented on #371
So exciting to see this get sorted out!  Great work @jimkeller & @mgburns !  I'm sorry I didn't have more time to help contribute a fix myself, but am glad to see all the lovely community support.  Let me know if I can help roadtest anything or contribute to documentation for it!

[2021-10-11 20:17] ChristopherMWood opened #505 "Cannot connect to Solr Instance in local development environment"
I'm having a ton of issues understanding the documentation for how to setup a local index to develop against. I have the MU plugin created to define the local setup, but where do I point this? I have a local lando pantheon wordpress setup but no matter where I point the config it never pings successfully. I've tried the following.

- local docker container for the Solr index (via lando info)
- the

[2021-10-12 00:32] ChristopherMWood commented on #505
Thanks to the Pantheon Support team and the Slack Community, it was cleared up that I just misinterpreted the documentation. I created a PR to help prevent that confusion going forward https://github.com/pantheon-systems/solr-power/pull/506

[2022-01-18 18:40] ChristopherMWood opened #509 "Issue making Ajax Requests without breaking Admin Ajax requests"
I'm working on a site that uses Solr Power to run many different search components across the site. Each component targets a different set of Content Types and gets called in a combination of Ajax calls for the site header and non ajax calls for the primary site search page. My issue is that to get my custom components to make ajax requests I need to set the ```solr_allow_ajax``` field to true. Bu

[2022-01-18 22:28] danielbachhuber commented on #509
Hey @ChristopherMWood,

Thanks for the question!

What do you think about something like this?

[code]

With this code snippet applied, you could add an extra `solr_allow_ajax=1` in your request to enable Solr.

[2022-01-19 14:23] ChristopherMWood commented on #509
@danielbachhuber You are a life saver, that worked like a charm, such a great idea. The only change I made was move the ```$_GET``` to ```$_REQUEST``` for my setup. Thank you so much for the quick reply and idea!

[code]